// Override the fontawesome font path
@fa-font-path: 'sl-ember-components/fonts';

// Override the sl-bootstrap font/glyph paths
@bs-font-path: "sl-ember-components/fonts";
@icon-font-path: "sl-ember-components/fonts/";
