{{#if title}}
    <div class="panel-heading">{{title}}</div>
{{/if}}

<div class="panel-body">
    <div {{bind-attr style=style}} class="chart sl-maskable-content"></div>
    <div class="sl-mask"></div>
</div>
