{{#if title}}
    <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
    </div>
{{/if}}

<div class="panel-body">
    <div {{bind-attr style=style}} class="chart"></div>
</div>
