{{#if title}}
    <div class="panel-heading">
        <span class="panel-title">{{title}}</span>
    </div>
{{/if}}

<div class="panel-body">
    <div {{bind-attr style=style}} class="chart"></div>
</div>
