<button {{bind-attr class=":btn buttonTypeClass :dropdown-toggle"}} data-toggle="dropdown" type="button">
    {{view.label}}
    <span class="caret"></span>
</button>

<ul class="dropdown-menu" role="menu">
    {{#each option in view.options}}
        <li class="presentation">
            <a {{action "click" option.action}} role="menuitem" tab-index="-1">{{option.label}}</a>
        </li>
    {{/each}}
</ul>
