{{#if label}}
    <label {{bind-attr for=inputId}}>{{label}}</label>
{{/if}}

{{input action="enter" class="date-picker form-control" disabled=disabled id=inputId placeholder=placeholder type="text" value=value}}

{{#if helpText}}
    <p class="help-block">{{helpText}}</p>
{{/if}}
