<thead>
    <tr>
        {{#each column in columns}}
            <th>{{column.title}}</th>
        {{/each}}
    </tr>
</thead>

<tbody>
    {{#each row in rows}}
        <tr>
            {{#each column in columns}}
                <td>{{get-key row column.key}}</td>
            {{/each}}
        </tr>
    {{/each}}
</tbody>
