<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button {{action "close"}} class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>

            {{#if title}}
                <h4 class="modal-title">{{title}}</h4>
            {{/if}}
        </div>

        <div class="modal-body">
            {{yield}}
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary">{{acceptText}}</button>
        </div>
    </div>
</div>