<label {{bind-attr for=inputId}}>
    <input {{action "change" value on="change"}} {{bind-attr disabled=disabled id=inputId name=name readonly=readonly value=value}} type="radio" />

    {{label}}
</label>
