<label {{bind-attr for="sl-radio-view.elementId"}}>
    {{view Ember.TextField
        viewName="sl-radio-view"
        type="radio"
        disabled=disabled
        id=inputId
        name=name
        readonly=readonly
        value=value}}

    {{label}}
</label>
