<div class="sl-split-grid-header">

</div>

<div class="sl-split-grid-content">
    <table class="table">
        <thead>
            <tr>
                {{#each column in columns itemController="sl-split-grid-column"}}
                    <th {{bind-attr style=column.style}}>{{column.title}}</th>
                {{/each}}
            </tr>
        </thead>
    </table>

    <div class="scrollable-content">
        <table class="table">
            <tbody>
                {{#each row in rows itemController="sl-split-grid-row"}}
                    <tr>
                        {{#each column in columns itemController="sl-split-grid-column"}}
                            <td {{bind-attr style=column.style}}>{{split-grid-cell-value}}</td>
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="sl-split-grid-footer">

</div>
