{{#if label}}
    <label {{bind-attr for="sl-textarea-view.elementId"}} class="control-label">
        {{label}}

        {{#if optional}}
            <small class="text-info">Optional</small>
        {{/if}}

        {{#if required}}
            <small class="text-danger">Required</small>
        {{/if}}
    </label>
{{/if}}

{{textarea
    viewName="sl-textarea-view"
    class="form-control"
    cols=cols
    disabled=disabled
    maxlength=maxlength
    placeholder=placeholder
    readonly=readonly
    rows=rows
    tabindex=tabindex
    value=value
}}

{{#if helpText}}
    <p class="help-block">{{helpText}}</p>
{{/if}}
