[class*=sl-icon] {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 1em;
    overflow: hidden;
}

[class*=sl-icon]::before {
    margin-right: 2em;
}

.sl-loading {
    position: relative;
    overflow: hidden;

    &:before, &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    &:before {
        background-color: fade(@gray-dark, 75%);
    }

    &:after {
        -webkit-animation: sl-spin 1s infinite linear;
        -moz-animation: sl-spin 1s infinite linear;
        -o-animation: sl-spin 1s infinite linear;
        animation: sl-spin 1s infinite linear;
        background-image: url('/sl-ember-components/assets/images/spinner-light-sm.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
    }

    &.inverse:before {
        background-color: fade(@gray-lighter, 75%);
    }

    &.inverse:after {
        background-image: url('/sl-ember-components/assets/images/spinner-dark-sm.png');
    }
}

.sl-loading > * {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

// -------------------------------------------------------------------------
// Animations

@-moz-keyframes sl-spin {
    0% {
        -moz-transform: translate3d(0, 0, 0) rotate(-0.001deg);
    }
    100% {
        -moz-transform: translate3d(0, 0, 0) rotate(358.999deg) ;
    }
}

@-webkit-keyframes sl-spin {
    0% {
        padding-top: 2px;
        -webkit-transform: rotate3d(0, 0, 1, 0.001deg);
    }
    100% {
        padding-top: 2px;
        -webkit-transform: rotate3d(0, 0, 1, 360.001deg);
    }
}

@-o-keyframes sl-spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}

@keyframes sl-spin {
    0% {
        transform: translate3d(0, 0, 0) rotate(-0.001deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(360.001deg);
    }
}
