.sl-ember-components.calendar {
    .common-icon-properties() {
        font-family: serif;
        margin: 0;
    }

    .sl-icon-prev:before {
        content: "«";
        .common-icon-properties
    }

    .sl-icon-next:before {
        content: "»";
        .common-icon-properties
    }
}

