.sl-ember-components.calendar {
    .common-icon-properties() {
        font-family: serif;
        margin-left: .4em;
    }

    .sl-icon-prev:before {
        content: "«";
        .common-icon-properties
    }

    .sl-icon-next:before {
        content: "»";
        .common-icon-properties
    }

    .datepicker-months,
    .datepicker-days,
    .datepicker-years {
        display: block;
    }
}

