.sl-grid {
    &.details-open {
        .list-pane {
            width: 20%;

            tr {
                th.primary-column,
                td.primary-column {
                    width: auto;
                }

                th:not(.primary-column),
                td:not(.primary-column) {
                    display: none;
                }
            }
        }

        .detail-pane {
            display: inline-block;
            width: 80%;
        }
    }

    header {
        background-color: @gray-lighter;
        border-bottom: 1px solid @gray-light;

        h3 {
            margin: 0;
            padding-bottom: @padding-base-vertical - 1;
            padding-top: @padding-base-vertical;
        }

        .row {
            margin: 0;

            >div {
                padding: @padding-base-vertical @padding-base-horizontal;
            }
        }
    }

    .column-headers {
        background-color: @gray-lightest;
        margin-bottom: 0;

        th {
            border-bottom: 1px solid @gray-light;

            &.sortable-column {
                cursor: pointer;

                &:hover {
                    background-color: @gray-lighter;
                }
            }
        }
    }

    .list-pane {
        float: left;
        padding-bottom: 33px;
        position: relative;
        width: 100%;

        .content {
            background: white;
            overflow-y: scroll;
            table-layout: fixed;

            table {
                margin-bottom: 0;

                tr {
                    cursor: pointer;

                    td {
                        border-top: 0;
                        border-bottom: 1px solid @gray-lightest;
                    }

                    &.active td {
                        background-color: @brand-primary;
                        color: white;
                    }
                }
            }
        }

        footer {
            border-top: 1px solid @gray-light;
            bottom: 0;
            height: 33px;
            line-height: 33px;
            overflow: hidden;
            padding: 0 1em;
            position: absolute;
            text-overflow: ellipsis;
            width: 100%;

            p {
                margin-bottom: 0;
            }

            .sl-pagination {
                margin: 0;
            }
        }
    }

    .detail-pane {
        background-color: @gray-white;
        border-left: 1px solid @gray-light;
        display: none;
        position: relative;

        header {
            background-color: @gray-lightest;
            padding: @padding-base-vertical @padding-base-horizontal;

            .close {
                color: @gray-light;
                float: right;
                font-weight: lighter;
                line-height: 0.95em;

                &:hover {
                    color: @brand-danger;
                }
            }
        }

        footer {
            border-left: 1px solid @gray-light;
            border-top: 1px solid @gray-light;
            top: 100%;
            height: 33px;
            line-height: 33px;
            margin-left: -1px;
            padding: 0 1em;
            position: absolute;
            width: 100%;
        }

        .detail-content {
            padding: 0.5em;
        }
    }

    .column-small {
        width: 150px;
    }

    .column-medium {
        width: 300px;
    }

    .column-large {
        width: 450px;
    }

    .actions-cell {
        padding: 3px;
        text-align: right;

        .btn {
            padding: 3px 9px;
        }
    }
}
