.sl-grid-header-settings.dropdown {
    display: inline-block;
    position: relative;

    ul.dropdown-menu {
        li {
            a.btn {
                color: white;
                margin: @padding-base-horizontal;
            }

            label {
                cursor: pointer;
                display: block;
                font-weight: normal;
                margin-bottom: 0;
                padding: @padding-base-vertical @padding-base-horizontal;

                &:hover {
                    background: @brand-primary;
                    color: white;
                }

                input {
                    margin-right: @padding-base-horizontal / 2;
                }
            }
        }
    }
}
