.sl-menu .dropdown-menu {
	margin-top: 0;
}
.
sl-menu .contains-dropdown:hover > .dropdown-menu, .sl-menu .dropdown-toggle:focus ~ .dropdown-menu, .dropdown-menu:hover {
	display: block;
}

.sl-menu.show-all .dropdown-menu {
	display: block;
}

.sl-menu .contains-dropdown {
	position: relative;
}

.sl-menu .contains-dropdown .contains-dropdown .dropdown-menu {
	left: 100%;
	top: 0;
}

.sl-menu .sl-icon-show-all:before {
    content: "\e114";
}
