.@{component-class-prefix}-pagination {
    .sl-pagination-button {
        cursor: pointer;
    }

    li.overflow span:before {
        content: "...";
    }

    .sl-icon-next::before {
        content: @icon-pagination-next;
    }

    .sl-icon-previous::before {
        content: @icon-pagination-previous;
    }
}

.sl-icon-previous, .sl-icon-next {
    &:extend( .sl-ember-components-icons all );
}
