.sl-split-grid {
    &.details-open {
        .sl-split-grid-list-pane {
            width: 20%;

            tr {
                th:first-of-type,
                td:first-of-type {
                    width: 100%;
                }

                th:not(:first-of-type),
                td:not(:first-of-type) {
                    display: none;
                }
            }
        }

        .sl-split-grid-detail-pane {
            display: inline-block;
            width: 80%;
        }
    }

    header {
        background-color: @gray-lighter;
        border-bottom: 1px solid @gray-light;

        h3 {
            margin: 0;
            padding-bottom: @padding-base-vertical - 1;
            padding-top: @padding-base-vertical;
        }

        .row {
            margin: 0;

            >div {
                padding: @padding-base-vertical @padding-base-horizontal;
            }
        }
    }

    .sl-split-grid-head {
        background-color: @gray-lightest;
        margin-bottom: 0;

        th {
            border-bottom: 1px solid @gray-light;
        }
    }

    .sl-split-grid-list-pane {
        float: left;
        padding-bottom: 33px;
        position: relative;
        width: 100%;

        .sl-split-grid-body {
            background: white;
            overflow-y: scroll;
            table-layout: fixed;

            table {
                margin-bottom: 0;

                tr {
                    cursor: pointer;

                    td {
                        border-top: 0;
                        border-bottom: 1px solid @gray-lightest;
                    }

                    &.active td {
                        background-color: @brand-primary;
                        color: white;
                    }
                }
            }
        }

        footer {
            border-top: 1px solid @gray-light;
            bottom: 0;
            height: 33px;
            line-height: 33px;
            padding: 0 1em;
            position: absolute;
            width: 100%;

            p {
                margin-bottom: 0;
            }
        }
    }

    .sl-split-grid-detail-pane {
        background-color: @gray-white;
        border-left: 1px solid @gray-light;
        display: none;
        position: relative;

        header {
            background-color: @gray-lightest;
            padding: @padding-base-vertical @padding-base-horizontal;

            .close {
                color: @gray-light;
                float: right;
                font-weight: lighter;
                line-height: 0.95em;

                &:hover {
                    color: @brand-danger;
                }
            }
        }

        footer {
            border-left: 1px solid @gray-light;
            border-top: 1px solid @gray-light;
            top: 100%;
            height: 33px;
            line-height: 33px;
            margin-left: -1px;
            padding: 0 1em;
            position: absolute;
            width: 100%;
        }

        .detail-content {
            padding: 0.5em;
        }
    }

    .sl-column-tiny {
        width: 150px;
    }

    .sl-column-small {
        width: 300px;
    }

    .sl-column-medium {
        width: 450px;
    }

    .sl-column-large {
        width: 600px;
    }

    .sl-split-grid-actions-cell {
        padding: 3px;
        text-align: right;

        .btn {
            padding: 3px 9px;
        }
    }
}
