<h3>Components</h3>
<div class="list-group">
    {{#link-to "demos.sl-alert" class="list-group-item"}}
        sl-alert
    {{/link-to}}
    {{#link-to "demos.sl-button" class="list-group-item"}}
        sl-button
    {{/link-to}}
    {{#link-to "demos.sl-calendar" class="list-group-item"}}
        sl-calendar
    {{/link-to}}
    {{#link-to "demos.sl-chart" class="list-group-item"}}
        sl-chart
    {{/link-to}}
    {{#link-to "demos.sl-checkbox" class="list-group-item"}}
        sl-checkbox
    {{/link-to}}
    {{#link-to "demos.sl-date-picker" class="list-group-item"}}
        sl-date-picker
    {{/link-to}}
    {{#link-to "demos.sl-date-range-picker" class="list-group-item"}}
        sl-date-range-picker
    {{/link-to}}
    {{#link-to "demos.sl-date-time" class="list-group-item"}}
        sl-date-time
    {{/link-to}}
    {{#link-to "demos.sl-drop-button" class="list-group-item"}}
        sl-drop-button
    {{/link-to}}
    {{#link-to "demos.sl-grid" class="list-group-item"}}
        sl-grid
    {{/link-to}}
    {{#link-to "demos.sl-input" class="list-group-item"}}
        sl-input
    {{/link-to}}
    {{#link-to "demos.sl-loading-icon" class="list-group-item"}}
        sl-loading-icon
    {{/link-to}}
    {{#link-to "demos.sl-menu" class="list-group-item"}}
        sl-menu
    {{/link-to}}
    {{#link-to "demos.sl-modal" class="list-group-item"}}
        sl-modal
    {{/link-to}}
    {{#link-to "demos.sl-pagination" class="list-group-item"}}
        sl-pagination
    {{/link-to}}
    {{#link-to "demos.sl-panel" class="list-group-item"}}
        sl-panel
    {{/link-to}}
    {{#link-to "demos.sl-progress-bar" class="list-group-item"}}
        sl-progress-bar
    {{/link-to}}
    {{#link-to "demos.sl-radio" class="list-group-item"}}
        sl-radio
    {{/link-to}}
    {{#link-to "demos.sl-radio-group" class="list-group-item"}}
        sl-radio-group
    {{/link-to}}
    {{#link-to "demos.sl-select" class="list-group-item"}}
        sl-select
    {{/link-to}}
    {{#link-to "demos.sl-span" class="list-group-item"}}
        sl-span
    {{/link-to}}
    {{#link-to "demos.sl-tab-panel" class="list-group-item"}}
        sl-tab-panel
    {{/link-to}}
    {{#link-to "demos.sl-textarea" class="list-group-item"}}
        sl-textarea
    {{/link-to}}
    {{#link-to "demos.sl-tooltip" class="list-group-item"}}
        sl-tooltip
    {{/link-to}}
</div>

<hr>

<h3>Helpers</h3>
<div class="list-group">
    <div class="list-group-item">
        <h6>get-key</h6>
        <p><strong>arguments:</strong> an object, a key, a default key</p>
        <p>The key is resolved on the object, to be returned. If it is falsy, and a default key is supplied, the default key is resolved on the object and that result is returned.</p>
    </div>

    <div class="list-group-item">
        <h6>render-dynamic</h6>
        <p><strong>arguments:</strong> object, key</p>
        <p>Calls the Ember render helper, with an object and key to lookup on the object for a string value to render.</p>
    </div>
</div>

<hr>

<h3>Utility Classes</h3>
<div class="list-group">
    <div class="list-group-item">
        <h6>sl-menu-key-adapter</h6>
        <p>Provides an abstraction between the events the <em>sl-menu</em> component listens for and the ability to associate any keyboard shortcuts in your application to trigger them.</p>
    </div>
</div>
