
<h3>Components</h3>
<div class="list-group">
    {{#link-to "demos.sl-alert" class="list-group-item"}}sl-alert{{/link-to}}
    {{#link-to "demos.sl-button" class="list-group-item"}}sl-button{{/link-to}}
    {{#link-to "demos.sl-calendar" class="list-group-item"}}sl-calendar{{/link-to}}
    {{#link-to "demos.sl-chart" class="list-group-item"}}sl-chart{{/link-to}}
    {{#link-to "demos.sl-checkbox" class="list-group-item"}}sl-checkbox{{/link-to}}
    {{#link-to "demos.sl-date-picker" class="list-group-item"}}sl-date-picker{{/link-to}}
    {{#link-to "demos.sl-date-range-picker" class="list-group-item"}}sl-date-range-picker{{/link-to}}
    {{#link-to "demos.sl-date-time" class="list-group-item"}}sl-date-time{{/link-to}}
    {{#link-to "demos.sl-dialog" class="list-group-item"}}sl-dialog{{/link-to}}
    {{#link-to "demos.sl-drop-button" class="list-group-item"}}sl-drop-button{{/link-to}}
    {{#link-to "demos.sl-grid" class="list-group-item"}}sl-grid{{/link-to}}
    {{#link-to "demos.sl-input" class="list-group-item"}}sl-input{{/link-to}}
    {{#link-to "demos.sl-loading-icon" class="list-group-item"}}sl-loading-icon{{/link-to}}
    {{#link-to "demos.sl-menu" class="list-group-item"}}sl-menu{{/link-to}}
    {{#link-to "demos.sl-panel" class="list-group-item"}}sl-panel{{/link-to}}
    {{#link-to "demos.sl-progress-bar" class="list-group-item"}}sl-progress-bar{{/link-to}}
    {{#link-to "demos.sl-radio" class="list-group-item"}}sl-radio{{/link-to}}
    {{#link-to "demos.sl-radio-group" class="list-group-item"}}sl-radio-group{{/link-to}}
    {{#link-to "demos.sl-select" class="list-group-item"}}sl-select{{/link-to}}
    {{#link-to "demos.sl-span" class="list-group-item"}}sl-span{{/link-to}}
    {{#link-to "demos.sl-tab-panel" class="list-group-item"}}sl-tab-panel{{/link-to}}
    {{#link-to "demos.sl-textarea" class="list-group-item"}}sl-textarea{{/link-to}}
    {{#link-to "demos.sl-tooltip" class="list-group-item"}}sl-tooltip{{/link-to}}
</div>

<hr>

<h3>Mixins</h3>
<div class="list-group">
    <div class="list-group-item">
        <h6>sl-modal-manager</h6>
        <p>Provides an advanced implemention of the modal component.</p>
        <p>The documentation is viewable at <a href="https://github.com/softlayer/sl-ember-components/blob/master/addon/mixins/docs/modal.md">https://github.com/softlayer/sl-ember-components/blob/master/addon/mixins/docs/modal.md</a></p>
    </div>

    <div class="list-group-item">
        <h6>sl-modal</h6>
        <p>Provides an advanced implemention of the modal component.</p>
        <p>The documentation is viewable at <a href="https://github.com/softlayer/sl-ember-components/blob/master/addon/mixins/docs/modal.md">https://github.com/softlayer/sl-ember-components/blob/master/addon/mixins/docs/modal.md</a></p>
    </div>

    <div class="list-group-item">
        <h6>sl-notify-view</h6>
        <p>Use this mixin on a view when you need to notify its controller of any of the following events:</p>
        <ul>
            <li>didInsertElement</li>
            <li>willClearRender</li>
            <li>willDestroyElement</li>
            <li>willInsertElement</li>
        </ul>
    </div>

    <div class="list-group-item">
        <h6>sl-pagination-controller</h6>
        <p>Most usually employed by a controller being used to back an implementation of the <em>sl-grid system</em> component, this mixin should be used whenever pagination support for a data set is desired.</p>
        <p>Requires either the use of <a href="https://github.com/softlayer/sl-ember-store">https://github.com/softlayer/sl-ember-store</a> or the use of a <code>metaData</code> property on your Array Controller's model data for the mixin to work correctly.</p>
    </div>
</div>

<hr>

<h3>Helpers</h3>
<div class="list-group">
    <div class="list-group-item">
        <h6>render-component</h6>
        <p><strong>arguments:</strong> component name, optional bound properties</p>
        <p>Render the component referenced by name. Bound properties can be passed to the component in the normal
        fashion.</p>
    </div>
</div>

<hr>

<h3>Utility Classes</h3>
<div class="list-group">
    <div class="list-group-item">
        <h6>sl-menu-key-adapter</h6>
        <p>Provides an abstraction between the events the <em>sl-menu</em> component listens for and the ability to associate
        any keyboard shortcuts in your application to trigger them.</p>
    </div>
</div>
