<h2>sl-button</h2>
<p class="lead">An active &lt;button&gt; component. Based on <a href="http://getbootstrap.com/css/#buttons">Bootstrap - Buttons</a>.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-button theme="default"}}Default Button\{{/sl-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <div>{{#sl-button theme="default"}}Default Button{{/sl-button}}</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-button theme="primary"}}Primary Button\{{/sl-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <div>{{#sl-button theme="primary"}}Primary Button{{/sl-button}}</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-button theme="info"}}Info Button\{{/sl-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <div>{{#sl-button theme="info"}}Info Button{{/sl-button}}</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-button theme="success"}}Success Button\{{/sl-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <div>{{#sl-button theme="success"}}Success Button{{/sl-button}}</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-button theme="warning"}}Warning Button\{{/sl-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <div>{{#sl-button theme="warning"}}Warning Button{{/sl-button}}</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-button theme="danger"}}Danger Button\{{/sl-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <div>{{#sl-button theme="danger"}}Danger Button{{/sl-button}}</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-button disabled=true}}Disabled Button\{{/sl-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <div>{{#sl-button disabled=true}}Disabled Button{{/sl-button}}</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-button theme="hover"}}Hover Button\{{/sl-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <div>{{#sl-button theme="hover"}}Hover Button{{/sl-button}}</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-button theme="link"}}Link Button\{{/sl-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <div>{{#sl-button theme="link"}}Link Button{{/sl-button}}</div>
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-tooltip-enabled</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="action" type="Function"}}
        An action to fire when the button is clicked.
    {{/property-text}}

    {{#property-text name="bubbles" type="Boolean" default="true"}}
        Whether the browser should propagate the button click event.
    {{/property-text}}

    {{#property-text name="class" type="String"}}
        <code>class</code> attribute for the button.
    {{/property-text}}

    {{#property-text name="disabled" type="Boolean" default="false"}}
        Whether the button is disabled.
    {{/property-text}}

    {{#property-text name="label" type="String"}}
        Text label on the button.
    {{/property-text}}

    {{#property-text name="pending" type="Boolean" default="false"}}
        When true, the button is placed in a pending state, with the <code>pendingLabel</code> value becoming the primary button label text.
    {{/property-text}}

    {{#property-text name="pendingLabel" type="Function" default="null" requires="ajaxEnabled=true"}}
        Text to display during associated AJAX activity.
    {{/property-text}}

    {{#property-text name="popover" type="String" requires="title"}}
        Popover content string.
    {{/property-text}}

    {{#property-text name="showModalWithStreamName" type="String"}}
        Used to trigger opening of a {{#link-to 'demos.sl-modal'}}sl-modal{{/link-to}} by passing in the name of the stream that the modal is registered to.
    {{/property-text}}

    {{#property-text name="size" type="String" default="\"medium\""}}
        Suffix string of Bootstrap button sizes; "extra-small", "small", "medium" (default) or "large".
    {{/property-text}}

    {{#property-text name="theme" type="String" default="\"default\""}}
        Bootstrap contextual style type; "danger", "default", "hover", "info", "link", "primary", "success", "warning".
    {{/property-text}}

    {{#property-text name="title" type="String"}}
        Tooltip text string, or becomes popover title with supplied popover property.
    {{/property-text}}
</div>
