<h2>sl-calendar</h2>
<p class="lead">A standalone calendar to display date values from an array of objects.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-calendar action="logLabel" content=content}}</pre>

        <h6>Route/Controller</h6>
        <pre>model: [
    {
        date: new Date(),
        label: 'Today!'
    }
]</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-calendar action="logLabel" events=content fixedWeekCount=true locale="en" selectConstraint=tempdates}}
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="action" type="Function"}}
        Action to call when a day is clicked. The date and an array of events occurring on the clicked date will be returned to this action.
    {{/property-text}}

    {{#property-text name="events" type="Object[]"}}
        Array of objects with properties: startDate, endDate, title.
    {{/property-text}}

    {{#property-text name="fixedWeekCount" type="Boolean" default="false"}}
        Whether to show a full six weeks for every month.
    {{/property-text}}

    {{#property-text name="focusable" type="Boolean" default="true"}}
        Whether to allow the calendar to gain focus.  Also allows keyboard navigation of the calendar.
    {{/property-text}}

    {{#property-text name="locale" type="String" default="\"en\""}}
        The locale string to use for <em>moment</em> date formats.
    {{/property-text}}

    {{#property-text name="selectConstraint" type="Object"}}
        Object representation of a date constraint.  Has properties: start, end.
        Dates outside of this range will not be selectable.
    {{/property-text}}

    {{#property-text name="selectedDate" type="Moment"}}
        A moment object representing the currently selected date.
    {{/property-text}}

    {{#property-text name="showControls" type="Boolean" default="true"}}
        Whether to show the calendar controls for changing the view.
    {{/property-text}}

    {{#property-text name="viewingDate" type="Moment"}}
        A moment object representing the currently viewed date.
        The calendar determines which month and year to show based on this date.
    {{/property-text}}

    {{#property-text name="viewMode" type="String" default="\"days\""}}
        The view to display the calendar in; "days", "months", or "years".
    {{/property-text}}
</div>
