<h2>sl-chart</h2>
<p class="lead">A wrapper component for <a href="http://www.highcharts.com">Highcharts</a>.</p>
<p class="lead">Highcharts is only free for non-commercial use and requires a license for any other use. See
<a href="http://shop.highsoft.com/faq/non-commercial#what-is-commercial-website">this FAQ page</a> for more information.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-chart
    options=chartOptions
    series=content
    title="Fruit Consumption"
}}</pre>

        <h6>Controller</h6>
        <pre>chartOptions: {
    chart: {
        type: 'bar'
    },

    xAxis: {
        categories: [ 'Apples', 'Bananas', 'Oranges' ]
    },

    yAxis: {
        title: {
            text: 'Fruit Eaten'
        }
    }
}</pre>

        <h6>Route</h6>
        <pre>content = [
    {
        name: 'Jane',
        data: [ 1, 0, 4 ]
    }, {
        name: 'John',
        data: [ 5, 7, 3 ]
    }
]</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-chart options=chartOptions series=content title="Fruit Consumption"}}
    </div>
</div>

<hr>

<h3>CSS Namespacing</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-ember-components-chart</p>
        <p>The default namespace is "sl-ember-components" unless the consuming application passes in a custom prefix. In which case, the namespace would be customprefix-chart.</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="options" required=true type="Object"}}
        An object of options passed directly to Highcharts initialization.
    {{/property-text}}

    {{#property-text name="series" required=true type="Array"}}
        Array of series data to bind to the component.
    {{/property-text}}

    {{#property-text name="height" type="String"}}
        CSS string for the height inline style value.
    {{/property-text}}

    {{#property-text name="loading" type="Boolean" default="false"}}
        When true, the chart is masked and a loading icon appears.
    {{/property-text}}

    {{#property-text name="title" type="String"}}
        The title of the chart's panel.
    {{/property-text}}

    {{#property-text name="width" type="String"}}
        CSS string for the width inline style value.
    {{/property-text}}
</div>
