<h2>sl-checkbox</h2>
<p class="lead">An improved substitute for the default &lt;input type="checkbox"&gt; element. See <a href="http://getbootstrap.com/css/#forms-controls">Bootstrap - Supported controls</a> for details.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-checkbox
    checked=checkboxValue
    label="Checkbox"
    name="checkbox"
    inline=true
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-checkbox checked=checkboxValue label="Checkbox" name="checkbox" inline=true}}

        {{#if checkboxValue}}
            <span class="label label-success">Checked!</span>
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-checkbox
    disabled=true
    label="Disabled checkbox"
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-checkbox disabled=true label="Disabled checkbox"}}
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-input-based</p>
        <p>sl-tooltip-enabled</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="checked" type="Boolean" default="false"}}
        The bound value indicating if the checkbox is checked or not.
    {{/property-text}}

    {{#property-text name="disabled" type="Boolean" default="false"}}
        When true, the checkbox is disabled.
    {{/property-text}}

    {{#property-text name="inline" type="Boolean" default="false"}}
        Display the checkbox inline with others.
    {{/property-text}}

    {{#property-text name="label" type="String"}}
        Label text to display beside the checkbox.
    {{/property-text}}

    {{#property-text name="name" type="String"}}
        <code>name</code> attribute value for the input.
    {{/property-text}}

    {{#property-text name="popover" type="String"}}
        Popover content text.
    {{/property-text}}

    {{#property-text name="title" type="String"}}
        Tooltip text string, or becomes popover title with supplied popover property.
    {{/property-text}}
</div>
