<h2>sl-date-picker</h2>
<p class="lead">A component to use for picking dates from a calendar, using {{#link-to "demos.sl-calendar"}}sl-calendar{{/link-to}}.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-date-picker label="Date picker"}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-date-picker action="logLabel" label="Date picker" selectedDate=selectedDate}}
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-tooltip-enabled</p>
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-component-input-id</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="action" type="Function"}}
        Action to call when the date is changed.
    {{/property-text}}

    {{#property-text name="autoClose" type="Boolean" default="true"}}
        Whether to close the datepicker immediately when a date is selected.
    {{/property-text}}

    {{#property-text name="disabled" type="String" default="false"}}
        When true, the input field is disabled and the datepicker will never display.
    {{/property-text}}

    {{#property-text name="format" type="String"}}
        The formatting to be applied to typed dates and selected dates in the input field.
        This format is seeded by <a href="http://momentjs.com/docs/#/customization/long-date-formats/">moment long format</a> when not provided.
    {{/property-text}}

    {{#property-text name="hasFocus" type="Boolean" default="false"}}
        Whether the component has focus.  Triggers opening of sl-calendar.
    {{/property-text}}

    {{#property-text name="helpText" type="String"}}
        The help text below the datepicker's input field.
    {{/property-text}}

    {{#property-text name="label" type="String"}}
        The label text above the datepicker's input field.
    {{/property-text}}

    {{#property-text name="locale" type="String" default="\"en\""}}
        The locale string to use for <em>moment</em> date formats.
    {{/property-text}}

    {{#property-text name="placeholder" type="String"}}
        The <code>placeholder</code> attribute text for the date input.
    {{/property-text}}

    {{#property-text name="popover" type="String"}}
        Popover content text.
    {{/property-text}}

    {{#property-text name="selectConstraint" type="Object"}}
        Object representation of a date constraint.  Has properties: start, end.
        Passes through to sl-calendar for selection constraint.
    {{/property-text}}

    {{#property-text name="selectedDate" type="moment"}}
        A moment object representing the currently selected date.
    {{/property-text}}

    {{#property-text name="viewMode" type="String" default="\"days\""}}
        The view to display the calendar in; "days", "months", or "years".
    {{/property-text}}

    {{#property-text name="title" type="String"}}
        Tooltip text string, or becomes popover title with supplied popover property.
    {{/property-text}}
</div>
