<h2>sl-date-range-picker</h2>
<p class="lead">A component to use for date ranges, using two {{#link-to "demos.sl-date-picker"}}sl-date-picker{{/link-to}} components.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-date-range-picker
    label="Select date range"
    startDatePlaceholder="Select start date"
    endDatePlaceholder="Select end date"
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-date-range-picker
            label="Select date range"
            selectConstraint=selectConstraint
            startDatePlaceholder="Select start date"
            endDatePlaceholder="Select end date"
            startDateValue=startDate
            endDateValue=endDate
        }}
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-component-input-id</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="endDatePlaceholder" type="String"}}
        The <code>placeholder</code> attribute text for the end date input.
    {{/property-text}}

    {{#property-text name="endDateValue" type="String" default="null"}}
        The binding value for the endDate input.
    {{/property-text}}

    {{#property-text name="format" type="String" default="\"mm/dd/yyyy\""}}
        The date format used for both inputs; combination of d, dd, D, DD, m, mm, M, MM, yy, yyyy
        <ul>
            <li>d, dd : Numeric date, no leading zero and leading zero, respectively</li>
            <li>D, DD : Abbreviated and full weekday names, respectively</li>
            <li>m, mm : Numeric month, no leading zero and leading zero, respectively</li>
            <li>M, MM : Abbreviated and full month names, respectively</li>
            <li>yy, yyyy : 2- and 4-digit years, respectively</li>
        </ul>
    {{/property-text}}

    {{#property-text name="maxDate" type="Date/String" default="null"}}
        The latest possible date for the range.
    {{/property-text}}

    {{#property-text name="minDate" type="Date/String" default="null"}}
        The earliest possible date for the range.
    {{/property-text}}

    {{#property-text name="startDatePlaceholder" type="String"}}
        The <code>placeholder</code> attribute text for the start date input.
    {{/property-text}}

    {{#property-text name="startDateValue" type="String" default="null"}}
        The binding value for the startDate input.
    {{/property-text}}
</div>
