<h2>sl-date-range-picker</h2>
<p class="lead">A component to use for date ranges, using two {{#link-to "demos.sl-date-picker"}}sl-date-picker{{/link-to}} components.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
<pre>\{{sl-date-range-picker
    label="Select date range"
    selectConstraint=selectConstraint
    startDatePlaceholder="Select start date"
    endDatePlaceholder="Select end date"
    startDate=startDate
    endDate=endDate
}}</pre>

        <h6>Controller</h6>
<pre>selectConstraint: {
    start: '01/05/2016',
    end: '02/05/2016'
},

startDate: window.moment( '01/07/2016', 'MM/DD/YYYY' ),
endDate: window.moment( '01/28/2016', 'MM/DD/YYYY' )
</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-date-range-picker
            label="Select date range"
            selectConstraint=selectConstraint
            startDatePlaceholder="Select start date"
            endDatePlaceholder="Select end date"
            startDate=startDate
            endDate=endDate
        }}
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-component-input-id</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="endDate" type="moment"}}
        The selected date in the end date picker.
    {{/property-text}}

    {{#property-text name="endDatePlaceholder" type="String"}}
        The <code>placeholder</code> attribute text for the end date input.
    {{/property-text}}

    {{#property-text name="format" type="String"}}
        The formatting to be applied to typed dates and selected dates in the input fields.
        This value is passed through to each sl-date-picker.
    {{/property-text}}

    {{#property-text name="helpText" type="String"}}
        The help text below the date-range-picker's input fields.
    {{/property-text}}

    {{#property-text name="label" type="String"}}
        The label text above the date-range-picker's input fields.
    {{/property-text}}

    {{#property-text name="locale" type="String" default="\"en\""}}
        The locale string to use for <em>moment</em> date formats.
        This value is passed through to each sl-date-picker.
    {{/property-text}}

    {{#property-text name="selectConstraint" type="Object"}}
        Object representation of a date constraint.  Has properties: start, end.
    {{/property-text}}

    {{#property-text name="startDate" type="moment"}}
        The selected date in the start date picker.
    {{/property-text}}

    {{#property-text name="startDatePlaceholder" type="String"}}
        The <code>placeholder</code> attribute text for the start date input.
    {{/property-text}}
</div>
