<h2>sl-menu</h2>
<p class="lead">A component to build complex menu hierarchies.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-menu
    action="doSomething"
    allowShowAll=true
    items=menuItems
    streamName=menuStreamName
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-menu
            action="doSomething"
            allowShowAll=true
            items=menuItems
            streamName=menuStreamName
        }}
    </div>
</div>

<p>This demo app showcases the following keybindings set up to trigger stream actions:</p>
<ul>
    <li>Escape key: hideAll</li>
    <li>Key 0: showAll</li>
    <li>Keys 1-9: select( 0-8 )</li>
    <li>Tab: selectNext</li>
    <li>Shift+tab: selectPrevious</li>
    <li>Enter: doAction</li>
    <li>Up key: selectUp</li>
    <li>Left key: selectLeft</li>
    <li>Right key: selectRight</li>
    <li>Down key: selectDown</li>
    <li><strong>-</strong> key: selectSubMenu</li>
</ul>

<hr>

<h3>Properties</h3>

<ul class="list-group">
    {{#property-text name="action" type="String"}}
        The name of an action to trigger whenever a sub-menu item's action is triggered. The action should accept <em>actionName</em> and <em>data</em> from the menu item.
    {{/property-text}}

    {{#property-text name="allowShowAll" type="Boolean" default="false"}}
        When true, the menu includes a show-all menu item.
    {{/property-text}}

    {{#property-text name="items" type="Array"}}
        <p>The array of menu items, each object member containing the following properties:</p>
        <ul>
            <li><strong>action</strong> - A <em>string</em> name of an action to pass back to the controller using the <code>action</code> component binding</li>
            <li><strong>data</strong> - Any value to pass up through the action</li>
            <li><strong>label</strong> - <em>String</em> text to display on the menu item link</li>
            <li><strong>items</strong> - An <em>array</em> for sub-menu items on this menu item (recursive structure)</li>
        </ul>
    {{/property-text}}

    {{#property-text name="streamName" type="String"}}
        The name to register a stream with on the streamService. See "Stream Actions" below.
    {{/property-text}}
</ul>

<hr>

<h3 id="stream-actions">Stream Actions</h3>

<p>If the <code>streamName</code> property is set on the component, it will register a stream named that value, listen for actions matching the following names, and act accordingly.</p>

{{#property-text name="doAction"}}
    Trigger the currently selected item's <code>action</code>, sending its optional <code>data</code>
{{/property-text}}

{{#property-text name="hideAll"}}
    Trigger hiding all of the sub-menus
{{/property-text}}

{{#property-text name="select"}}
    Select an item by its index <em>{Number}</em> in the current selected context
{{/property-text}}

{{#property-text name="selectDown"}}
    <ul>
        <li>In the top-level menu, select the first item in the current selection's sub-menu</li>
        <li>In a sub-menu, select the next sibling item, wrapping around to the top when necessary</li>
    </ul>
{{/property-text}}

{{#property-text name="selectLeft"}}
    <ul>
        <li>In the top-level menu, select the previous sibling item</li>
        <li>In a sub-menu, select the parent menu</li>
    </ul>
{{/property-text}}

{{#property-text name="selectNext"}}
    Select the next sibling menu item, wrapping around the list when necessary
{{/property-text}}

{{#property-text name="selectParent"}}
    Select the parent menu item
{{/property-text}}

{{#property-text name="selectPrevious"}}
    Select the previous sibling menu item, wrapping around the list when necessary
{{/property-text}}

{{#property-text name="selectRight"}}
    <ul>
        <li>In the top-level menu, select the next sibling item</li>
        <li>In a sub-menu, select the first item in the current item's sub-menu</li>
    </ul>
{{/property-text}}

{{#property-text name="selectSubMenu"}}
    Select the first item in the current item's sub-menu
{{/property-text}}

{{#property-text name="selectUp"}}
    <ul>
        <li>In the top-level menu, do not select anything different</li>
        <li>On the first item of the first level of sub-menu, select the parent item</li>
        <li>On any other sub-menu item, select the previous sibling, wrapping around the list when necessary</li>
    </ul>
{{/property-text}}

{{#property-text name="showAll"}}
    Trigger showing all of the menu items
{{/property-text}}
