<h2>sl-menu</h2>
<p class="lead">A component to build complex menu hierarchies.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-menu
    action="doSomething"
    allowShowAll=true
    events=menuEvents
    items=menuItems
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-menu
            action="doSomething"
            allowShowAll=true
            events=menuEvents
            items=menuItems
        }}
    </div>
</div>

<hr>

<h3>Properties</h3>

<ul class="list-group">
    {{#property-text name="items" type="array" required=true}}
        <p>The array of menu items, each object member containing the following properties:</p>
        <ul>
            <li><strong>action</strong> - A <em>string</em> name of an action to pass back to the controller using the <code>action</code> component binding</li>
            <li><strong>data</strong> - Any value to pass up through the action</li>
            <li><strong>label</strong> - <em>String</em> text to display on the menu item link</li>
            <li><strong>items</strong> - An <em>array</em> for sub-menu items on this menu item (recursive structure)</li>
        </ul>
    {{/property-text}}

    {{#property-text name="action" type="string"}}
        The name of an action to trigger whenever a sub-menu item's action is triggered. The action should accept <em>actionName</em> and <em>data</em> from the menu item.
    {{/property-text}}

    {{#property-text name="allowShowAll" type="boolean" default="false"}}
        When true, the menu includes a show-all menu item.
    {{/property-text}}

    {{#property-text name="events" type="object"}}
        <p>An object containing event binding strings, with the keys mapping to the following internal event names, and the values to the event service's event names.</p>
        <ul>
            <li><strong>hideAll</strong> - Triggers hiding all of the sub-menus</li>
            <li><strong>select( id )</strong> - </li>
            <li><strong>selectDown</strong> - </li>
            <li><strong>selectLeft</strong> - </li>
            <li><strong>selectRight</strong> - </li>
            <li><strong>selectUp</strong> - </li>
            <li><strong>showAll</strong> - </li>
        </ul>
    {{/property-text}}
</ul>
