<h2>sl-menu</h2>
<p class="lead">A component to build complex menu hierarchies.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-menu
    action="doSomething"
    allowShowAll=true
    events=menuEvents
    items=menuItems
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-menu
            action="doSomething"
            allowShowAll=true
            events=menuEvents
            items=menuItems
        }}
    </div>
</div>

<hr>

<h3>Properties</h3>

<ul class="list-group">
    {{#property-text name="items" type="array" required=true}}
        <p>The array of menu items, each object member containing the following properties:</p>
        <ul>
            <li><strong>action</strong> - A <em>string</em> name of an action to pass back to the controller using the <code>action</code> component binding</li>
            <li><strong>data</strong> - Any value to pass up through the action</li>
            <li><strong>label</strong> - <em>String</em> text to display on the menu item link</li>
            <li><strong>items</strong> - An <em>array</em> for sub-menu items on this menu item (recursive structure)</li>
        </ul>
    {{/property-text}}

    {{#property-text name="action" type="string"}}
        The name of an action to trigger whenever a sub-menu item's action is triggered. The action should accept <em>actionName</em> and <em>data</em> from the menu item.
    {{/property-text}}

    {{#property-text name="allowShowAll" type="boolean" default="false"}}
        When true, the menu includes a show-all menu item.
    {{/property-text}}

    {{#property-text name="events" type="object"}}
        <p>An object containing event binding strings, with the keys mapping to the following internal event names, and the values to the event service's event names.</p>
        <ul>
            <li><strong>hideAll</strong> - Trigger hiding all of the sub-menus</li>
            <li><strong>select( index )</strong> - Select an item by its index in the current selected context</li>
            <li>
                <strong>selectDown</strong> - Select an item "down":
                <ul>
                    <li>In the top-level menu, "down" selects the first item in the current selection's sub-menu</li>
                    <li>In a sub-menu, "down" selects the next sibling item, wrapping around to the top when necessary</li>
                </ul>
            </li>
            <li>
                <strong>selectLeft</strong> - Select an item "left":
                <ul>
                    <li>In the top-level menu, "left" selects the previous sibling item</li>
                    <li>In a sub-menu, "left" selects the parent menu</li>
                </ul>
            </li>
            <li><strong>selectNext</strong> - Select the next sibling menu item, wrapping around the list when necessary</li>
            <li><strong>selectParent</strong> - Select the parent menu item</li>
            <li><strong>selectPrevious</strong> - Select the previous sibling menu item, wrapping around the list when necessary</li>
            <li>
                <strong>selectRight</strong> - Select an item "right":
                <ul>
                    <li>In the top-level menu, "right" selects the next sibling item</li>
                    <li>An a sub-menu, "right" selects the first item in the current item's sub-menu</li>
                </ul>
            </li>
            <li><strong>selectSubMenu</strong> - Select the first item in the current item's sub-menu</li>
            <li>
                <strong>selectUp</strong> - Select an item "up":
                <ul>
                    <li>In the top-level menu, "up" does not select anything different</li>
                    <li>On the first item of the first level of sub-menu, "up" selects the parent item</li>
                    <li>On any other sub-menu item, "up" selects the previous sibling, wrapping around the list when necessary</li>
                </ul>
            </li>
            <li><strong>showAll</strong> - Trigger showing all of the menu items</li>
        </ul>

        <br>

        <p>See {{#link-to "demos.services.sl-event"}}services/sl-event{{/link-to}} for information on how to properly trigger these custom events.</p>
    {{/property-text}}
</ul>
