<h2>sl-pagination</h2>
<p class="lead">A component used for displaying and controlling pages of content.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-pagination changePage="changePage" totalPages=5}}</pre>
    </div>
    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-pagination changePage="changePage" totalPages=5}}
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="totalPages" required=true type="number"}}
        The total number of pages.
    {{/property-text}}

    {{#property-text name="busy" type="boolean" default="false"}}
        When true, the state of the pagination component will not change.
    {{/property-text}}

    {{#property-text name="changePage" type="string"}}
        An action triggered when the currentPage value is changed. The page number changed to is sent to the action.
    {{/property-text}}

    {{#property-text name="currentPage" type="number" default="1"}}
        The current page bound value.
    {{/property-text}}

    {{#property-text name="nextPage" type="string"}}
        An action triggered when the page is incremented successfully. The action is passed the new page number.
    {{/property-text}}

    {{#property-text name="previousPage" type="string"}}
        An action triggered when the page is decremented successfully. The action is passed the new page number.
    {{/property-text}}
</div>
