<h2>sl-pagination-per-page-select</h2>
<p class="lead">Displays limit number per page, and lets user modify the number.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-pagination-per-page-select
    itemCountPerPage=pagingData.itemCountPerPage
    label=translations.perPage
    perPageOptions=pagingData.perPageOptions
}}</pre>

        <h6>Controller</h6>
        <pre>pagingData: {
    perPageOptions: [ 25, 50, 100 ],
    itemCountPerPage: 25,
    pageFirstRow: 1,
    pageLastRow: 2,
    totalRows: 125,
    modelNames: 'Items'
}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-pagination-per-page-select
            itemCountPerPage=controllers.pagination.pagingData.itemCountPerPage
            label=controllers.pagination.translations.perPage
            perPageOptions=controllers.pagination.pagingData.perPageOptions
        }}
    </div>
</div>

<hr>

<h3>External Dependencies</h3>

<div class="list-group">
    <div class="list-group-item">
        <p><a href="https://github.com/softlayer/sl-translate">https://github.com/softlayer/sl-translate</a></p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="itemCountPerPage" type="number"}}
        The value of the select box, this value will be observed and changes to it will trigger appropriate changes on the page.
    {{/property-text}}

    {{#property-text name="label" type="string"}}
        Text to be translated using an sl-translate component, ex: English: 'per page'.
    {{/property-text}}

    {{#property-text name="perPageOptions" type="array"}}
       Array of numbers for the different item counts per page that can be selected.
    {{/property-text}}
</div>
