<h2>sl-split-grid</h2>
<p class="lead">A dual-pane, master-detail split panel grid.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-split-grid
    autoHeight=false
    columns=columns
    count=count
    content=content
    detailContentHeight=500
    detailName="color"
    detailHeaderTemplate="demos/color-header"
    headerTemplate="demos/colors-header"
    listFooterTemplate="demos/colors-footer"
    listContentHeight=500
    sortColumn="sortColumn"
    totalCount=totalCount
}}</pre>

        <h6>Controller</h6>
        <pre>columns: [
    {
        primary   : true,
        title     : 'Color',
        valuePath : 'name'
    }, {
        size      : 'small',
        sortable  : true,
        title     : 'Fruit',
        valuePath : 'fruit'
    }, {
        size      : 'small',
        title     : 'Hex Code',
        valuePath : 'hexCode'
    }
]</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-split-grid
            autoHeight=false
            columns=columns
            count=count
            content=content
            detailContentHeight=500
            detailName="color"
            detailHeaderTemplate="demos/color-header"
            headerTemplate="demos/colors-header"
            listFooterTemplate="demos/colors-footer"
            listContentHeight=500
            sortColumn="sortColumn"
            totalCount=totalCount
        }}
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="columns" type="array" required=true}}
        <p>An array of column definition objects. Each column definition object can contain the following values:</p>
        <ul>
            <li><strong>primary</strong> - A <em>boolean</em> that determines whether the column remains shown when the detail pane is visible (default: <em>false</em>)</li>
            <li><strong>size</strong> - The width of the colmn; either a string for relative sizing ("small", "medium", or "large"), or a number for exact number of pixels</li>
            <li><strong>sortable</strong> - A <em>boolean</em> that determines whether the column is sortable or not (default: <em>false</em>)</li>
            <li><strong>template</strong> - The name of a template to use for the cell value, for more complex content; uses the <code>rowController</code> as its controller</li>
            <li><strong>title</strong> - The displayed title of the column</li>
            <li><strong>valuePath</strong> - The lookup string for the column's basic output; only used if <strong>template</strong> is omitted</li>
        </ul>
    {{/property-text}}

    {{#property-text name="content" type="array" required=true}}
        Array of records to display as the rows.
    {{/property-text}}

    {{#property-text name="detailName" type="string" required=true}}
        The name of the controller/template to render for the detail pane. <span class="text-warning">The controller with this name also controls the <code>detailFooterTemplate</code> and <code>detailHeaderTemplate</code> properties' rendered templates.</span>
    {{/property-text}}

    {{#property-text name="actionButtonLabel" type="string" default="\"Actions\""}}
        The text to label the row actions' button with.
    {{/property-text}}

    {{#property-text name="autoHeight" type="boolean" default="true"}}
        Determines whether the content areas of the split-grid will dynamically calculate their allowed heights within the viewport when the window is resized. When false, the <code>height</code> property is used to determine the content areas' heights manually.
    {{/property-text}}

    {{#property-text name="detailContentHeight" type="number" default="600"}}
        Determines the detail pane's content height in pixels. <span class="text-warning">Only used when <code>autoHeight</code> is <em>false</em></span>.
    {{/property-text}}

    {{#property-text name="detailFooterTemplate" type="string"}}
        The name of a template to use for the footer section of the detail pane. This template's controller is bound to the controller matching the <code>detailName</code> property.
    {{/property-text}}

    {{#property-text name="detailHeaderTemplate" type="string"}}
        The name of a template to use for the header section of the detail pane. This template's controller is bound to the controller matching the <code>detailName</code> property.
    {{/property-text}}

    {{#property-text name="filterName" type="string"}}
        The name of the controller/template to render for the filter section. If this is omitted, no filter button or interface will be created for the split-grid.
    {{/property-text}}

    {{#property-text name="headerTemplate" type="string"}}
        The name of a template to use for the split-grid's header section. If this property is not set, then the split-grid will use the <code>title</code> property to populate the main title text.
    {{/property-text}}

    {{#property-text name="listContentHeight" type="number" default="600"}}
        Determines the list pane's content height in pixels. <span class="text-warning">Will only be used when <code>autoHeight</code> is <em>false</em></span>.
    {{/property-text}}

    {{#property-text name="listFooterTemplate" type="string"}}
        The name of a template to use for the split-grid's footer section.
    {{/property-text}}

    {{#property-text name="rowActions" type="array"}}
        An array of action names, displayed in an "Actions" drop-button, that triggers actions on the <code>rowController</code> per record row.
    {{/property-text}}

    {{#property-text name="rowController" type="string"}}
        <p>The name of an ObjectController to use as each row's itemController. This controller can contain the following properties:</p>
        <ul>
            <li><strong>actions</strong> - The bound <code>rowActions</code> will fire from this controller's actions hash</li>
            <li><strong>classString</strong> - This <em>string</em> property is inserted into the &lt;td&gt;'s <code>class</code> attribute</li>
        </ul>
    {{/property-text}}

    {{#property-text name="sortColumn" type="string"}}
        The name of an action to trigger when a sortable column is selected for sorting. This action should accept two arguments: the column definition to sort on, and the direction as a string ("ascending" or "descending").
    {{/property-text}}
</div>
