<h2>sl-select</h2>
<p class="lead">A full-featured select input component. Based on <a href="http://ivaynberg.github.io/select2/">Select2</a>.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-select
    content=content
    label="Single item select"
    placeholder="Select a color"
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-select
            content=content
            label="Single item select"
            placeholder="Select a color"
        }}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-select
    content=numbers
    disableSearch=true
    label="Multiple number select, no search"
    multiple=true
    placeholder="Select number(s)"
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-select
            content=numbers
            disableSearch=true
            label="Multiple number select, no search"
            multiple=true
            placeholder="Select number(s)"
        }}
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-input-based</p>
        <p>sl-tooltip-enabled</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="content" required=true type="Array"}}
        Bound content for the select's options. Each item can be one of the following:
        <ul>
            <li>A native value (number, string, etc.) which becomes the option's label and value</li>
            <li>An object containing values for the option's label, value, and (optional) description. The lookup keys for these values are defined by <code>optionDescriptionPath</code>, <code>optionLabelPath</code>, and <code>optionValuePath</code>.</li>
        </ul>
    {{/property-text}}

    {{#property-text name="disableSearch" type="Boolean" default="false"}}
        Disables the search filter.
    {{/property-text}}

    {{#property-text name="disabled" type="Boolean" default="false"}}
        When true, input is disabled.
    {{/property-text}}

    {{#property-text name="helpText" type="String"}}
        Help text to display below the select input.
    {{/property-text}}

    {{#property-text name="label" type="String"}}
        Text label for the select input.
    {{/property-text}}

    {{#property-text name="maximumSelectionSize" type="Number" default="null"}}
        The maximum number of selections allowed when <code>multiple=true</code>.  By default there is no maximum value enforced.
    {{/property-text}}

    {{#property-text name="multiple" type="Boolean" default="false"}}
        Enables multiple selections.
    {{/property-text}}

    {{#property-text name="optionDescriptionPath" type="String" default="\"description\""}}
        Option's description field path.
    {{/property-text}}

    {{#property-text name="optionLabelPath" type="String" default="\"label\""}}
        Option's label field path.
    {{/property-text}}

    {{#property-text name="optionValuePath" type="String" default="\"value\""}}
        Option's value field path.
    {{/property-text}}

    {{#property-text name="optional" type="Boolean" default="false"}}
        When true, the component is styled to reflect optional status.  This styling will only be in effect if the <code>label</code> property has also been set.
    {{/property-text}}

    {{#property-text name="placeholder" type="String"}}
        <code>placeholder</code> attribute value for the select.
    {{/property-text}}

    {{#property-text name="popover" type="String" requires="title"}}
        Popover content text.
    {{/property-text}}

    {{#property-text name="readonly" type="Boolean" default="false"}}
        <code>readonly</code> attribute value for the input.
    {{/property-text}}

    {{#property-text name="required" type="Boolean" default="false"}}
        When true, the component is styled to reflect required status.  This styling will only be in effect if the <code>label</code> property has also been set.
    {{/property-text}}

    {{#property-text name="title" type="String"}}
        Tooltip text string, or becomes popover title with supplied popover property.
    {{/property-text}}

    {{#property-text name="value" type="Mixed"}}
        Bound value to the selected value.
    {{/property-text}}
</div>
