<h2>sl-textarea</h2>
<p class="lead">A Bootstrap-wrapped component based on Ember's textarea helper.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-textarea
    label="First textarea"
    placeholder="Enter some text!"
    rows=6
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-textarea
            label="First textarea"
            placeholder="Enter some text!"
            rows=6
        }}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-textarea
    disabled=true
    label="Second textarea"
    placeholder="You can't enter anything..."
    rows=4
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-textarea
            disabled=true
            label="Second textarea"
            placeholder="You can't enter anything..."
            rows=4
        }}
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-component-input-id</p>
        <p>sl-input-based</p>
        <p>sl-tooltip-enabled</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="autofocus" type="Number" default="false"}}
        The <code>autofocus</code> HTML attribute value, passed directly to the underlying &lt;textarea&gt;.
    {{/property-text}}

    {{#property-text name="cols" type="Number/String"}}
        <code>cols</code> attribute value.
    {{/property-text}}

    {{#property-text name="disabled" type="Boolean" default="false"}}
        When true, the textarea is disabled.
    {{/property-text}}

    {{#property-text name="helpText" type="String"}}
        Text to display below the textarea.
    {{/property-text}}

    {{#property-text name="label" type="String"}}
        String for label text above the input.
    {{/property-text}}

    {{#property-text name="maxlength" type="Number/String"}}
        <code>maxlength</code> attribute value.
    {{/property-text}}

    {{#property-text name="optional" type="Boolean" default="false"}}
        When true, the component is styled to reflect optional status. This styling will only be in effect if the <code>label</code> property has also been set.
    {{/property-text}}

    {{#property-text name="placeholder" type="String"}}
        <code>placeholder</code> attribute value for the textarea.
    {{/property-text}}

    {{#property-text name="popover" type="String"}}
        Popover content text.
    {{/property-text}}

    {{#property-text name="readonly" type="Boolean" default="false"}}
        <code>readonly</code> attribute value for the textarea.
    {{/property-text}}

    {{#property-text name="required" type="Boolean" default="false"}}
        When true, the component is styled to reflect required status. This styling will only be in effect if the <code>label</code> property has also been set.
    {{/property-text}}

    {{#property-text name="rows" type="Number/String"}}
        <code>rows</code> attribute value.
    {{/property-text}}

    {{#property-text name="selectionDirection" type="String" default="\"forward\""}}
        The <code>selectionDirection</code> HTML attribute value, passed directly to the underlying &lt;textarea&gt;. Can be "forward", "backward", or "none".
    {{/property-text}}

    {{#property-text name="selectionEnd" type="Number/String"}}
        The <code>selectionEnd</code> HTML attribute value, passed directly to the underlying &lt;textarea&gt;.
    {{/property-text}}

    {{#property-text name="selectionStart" type="Number/String"}}
        The <code>selectionStart</code> HTML attribute value, passed directly to the underlying &lt;textarea&gt;.
    {{/property-text}}

    {{#property-text name="spellcheck" type="Boolean" default="false"}}
        The <code>spellcheck</code> HTML attribute value, passed directly to the underlying &lt;textarea&gt;.
    {{/property-text}}

    {{#property-text name="tabindex" type="String"}}
        <code>tabindex</code> attribute value.
    {{/property-text}}

    {{#property-text name="title" type="String"}}
        Tooltip text string, or becomes popover title with supplied popover property.
    {{/property-text}}

    {{#property-text name="wrap" type="String" default="\"soft\""}}
        The <code>wrap</code> HTML attribute value, passed directly to the underlying &lt;textarea&gt;. Can be "hard" or "soft".
    {{/property-text}}

    {{#property-text name="value" type="String"}}
        The bound value of the textarea.
    {{/property-text}}
</div>
