<h1>test</h1>
<div class="modal-header">
    Hello {{modalContent}}
</div>
<div class="modal-body">
    Thank you for clicking the check in button, {{modalContent}}    
</div>
<div class="modal-footer">
     <button class="btn btn-primary" {{action "close" target="view" bubbles=false}}>Close</button>
 </div>
