@import "sl-ember-components";

.page-header .nav .dropdown a.active {
    background-color: @brand-primary;
}

h5 {
    text-decoration: underline;
}

section {
    margin-top: 2rem;

    h3 {
        i {
            font-size: 6rem;
        }
    }
}
