{{#if dismissable}}
    <button
        {{action "dismiss"}}
        class="close"
        data-dismiss="alert"
        type="button"
    >
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
{{/if}}

{{yield}}
