{{#if dismissable}}
    <button {{action "dismiss"}} class="pull-right close" data-dismiss="alert" aria-label="Close" type="button">
        <span class="sl-icon-close">Close</span>
    </button>
{{/if}}

{{yield}}
