{{#if title}}
    <div class="panel-heading">{{title}}</div>
{{/if}}

<<<<<<< HEAD
<div class="panel-body {{if loading "sl-loading"}}">
    <div style={{style}}> </div>
=======
<div class="panel-body">
    <div class="chart sl-maskable-content"></div>
    <div class="sl-mask"></div>
>>>>>>> EmberCli-1.13.8
</div>
