{{#if label}}
    <label for={{inputId}}>{{label}}</label>
{{/if}}

<div class="row">
    {{sl-date-picker
        class="sl-daterange-start-date col-md-6"
        endDate=latestStartDate
        placeholder=startDatePlaceholder
        startDate=minDate
        value=startDateValue
        inputId=inputId
        format=format
    }}

</div>

{{#if helpText}}
    <p class="help-block">{{helpText}}</p>
{{/if}}
