{{#if label}}
    <label for={{sl-date-picker-view.elementId}}>{{label}}</label>
{{/if}}

{{input
    viewName="sl-date-picker-view"
    type="text"
    action="enter"
    class="date-picker form-control"
    disabled=disabled
    placeholder=placeholder
    value=value
}}

{{#if helpText}}
    <p class="help-block">{{helpText}}</p>
{{/if}}
