{{#if label}}
    <label for={{inputId}}>{{label}}</label>
{{/if}}

{{input
    type="text"
    class="date-picker form-control"
    disabled=disabled
    id=inputId
    placeholder=placeholder
    tabindex=tabindex
    value=value
}}

{{#if helpText}}
    <p class="help-block">{{helpText}}</p>
{{/if}}
