{{#if label}}
    <label class="control-label" for={{inputId}}>
        {{label}}

        {{#if optional}}
            <small class="text-info">Optional</small>
        {{/if}}

        {{#if required}}
            <small class="text-danger">Required</small>
        {{/if}}
    </label>
{{/if}}

{{input
    id=inputId
    type=type
    class=inputClass
    disabled=disabled
    name=name
    placeholder=placeholder
    readonly=readonlyString
    value=value
}}

{{#if helpText}}
    <p class="help-block">{{helpText}}</p>
{{/if}}
