{{#if hasBlock}}
    {{yield ariaLabelledBy}}
{{else}}
    <button class="pull-right close" data-dismiss="modal" area-label="Close" type="button">
        <span class="sl-icon-close">Close</span>
    </button>
{{/if}}

{{#if title}}
    <span class="modal-title" id={{ariaLabelledBy}}>{{title}}</span>
{{/if}}
