<div class="modal-header">
    {{#if template}}
        {{yield}}
    {{else}}
        <button class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
        </button>
        {{#if title}}
            <span class="modal-title">{{title}}</span>
        {{/if}}
    {{/if}}
</div>
