<div class="modal-header">
    {{#if template}}
        {{yield}}
    {{else}}
        {{#unless hideCloseButton}}
            <button class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
        {{/unless}}
    {{/if}}

    {{#if title}}
        <span class="modal-title">{{title}}</span>
    {{/if}}
</div>
