<div class="modal-footer">
  {{#if template}}
    {{yield}}
  {{else}}      
        <button
        class="btn btn-primary"
        data-dismiss="modal"
    >
        {{buttonText}}
    </button>
  {{/if}}
</div>