{{#if heading}}
    <div class="panel-heading">{{heading}}</div>
{{/if}}

<div class="panel-body {{if loading "sl-loading"}}">
    {{yield}}
</div>

{{#if footer}}
    <div class="panel-footer">{{footer}}</div>
{{/if}}
