{{#if heading}}
    <div class="panel-heading">{{heading}}</div>
{{/if}}

<div class="panel-body">
    <div class="sl-maskable-content">
        {{yield}}
    </div>
    <div class="sl-mask"></div>
</div>