<div aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow=value class=":progress-bar striped:progress-bar-striped animated:active themeClassName" style=styleString}} role="progressbar">
    {{#if label}}
        <span class="sl-progress-bar-value">{{value}}%</span>
    {{else}}
        <span class="sr-only">{{value}}% Complete</span>
    {{/if}}
</div>
