{{#if label}}
    <label>
        {{label}}

        {{#if optional}}
            <small class="text-info">Optional</small>
        {{/if}}

        {{#if required}}
            <small class="text-danger">Required</small>
        {{/if}}
    </label>
{{/if}}

{{yield}}
