<label for={{sl-radio-view.elementId}}>
    {{input
        viewName="sl-radio-view"
        type="radio"
        disabled=disabled
        id=inputId
        name=name
        readonly=readonly
        value=value}}

    {{label}}
</label>
