{{#if label}}
    <label for={{inputId}} class="control-label">
        {{label}}

        {{#if optional}}
            <small class="text-info">Optional</small>
        {{/if}}

        {{#if required}}
            <small class="text-danger">Required</small>
        {{/if}}
    </label>
{{/if}}

{{input
    id=inputId
    type="hidden"
    class="form-control"
    disabled=disabled
    readonly=readonly
    value=value
}}

{{#if helpText}}
    <p class="help-block">{{helpText}}</p>
{{/if}}
