<h2>sl-button</h2>
<p>An active &lt;button&gt; component. Based on <a href="http://getbootstrap.com/css/#buttons">Bootstrap - Buttons</a>.</p>

<h3>Examples</h3>
{{#sl-button theme="default"}}theme="default"{{/sl-button}}
{{#sl-button theme="primary"}}theme="primary"{{/sl-button}}
{{#sl-button theme="info"}}theme="info"{{/sl-button}}
{{#sl-button theme="success"}}theme="success"{{/sl-button}}
{{#sl-button theme="warning"}}theme="warning"{{/sl-button}}
{{#sl-button theme="danger"}}theme="danger"{{/sl-button}}
{{#sl-button disabled=true}}disabled=true{{/sl-button}}

<h3>Properties</h3>
<div class="list-group">
    {{#property-text name="action" type="function"}}
        An action to fire when the button is clicked
    {{/property-text}}
    {{#property-text name="activeLabelText" type="function" default="null" requires="ajaxEnabled=true"}}
        Text to display during associated AJAX activity.
    {{/property-text}}
    {{#property-text name="ajaxEnabled" type="boolean" default="false"}}
        Allow behaviors to be bound to associated AJAX activity.
    {{/property-text}}
    {{#property-text name="class" type="string"}}
        <code>class</code> attribute for the button.
    {{/property-text}}
    {{#property-text name="disabledOnAjax" type="boolean" default="false" requires="ajaxEnabled=true"}}
        When true, button will become disabled during associated AJAX activity.
    {{/property-text}}
    {{#property-text name="disabled" type="boolean" default="false"}}
        Whether the button is disabled.
    {{/property-text}}
    {{#property-text name="hideOnAjax" type="boolean" default="false" requires="ajaxEnabled=true"}}
        When true, button will become hidden during associated AJAX activity.
    {{/property-text}}
    {{#property-text name="label" type="string"}}
        Text label on the button.
    {{/property-text}}
    {{#property-text name="popover" type="string" requires="title"}}
        Popover content string.
    {{/property-text}}
    {{#property-text name="theme" type="string" default="\"default\""}}
        Bootstrap contextual style type; "danger", "default", "info", "primary", "success", "warning".
    {{/property-text}}
    {{#property-text name="title" type="string"}}
        Tooltip text string, or becomes popover title with supplied popover property.
    {{/property-text}}
    {{#property-text name="urlScope" type="string"}}
        A string or regular expression used to scope associated AJAX activity.
    {{/property-text}}
</div>