<h2>sl-calendar</h2>
<p class="lead">
    A standalone calendar to display date values from an array of objects.
</p>

<h3>Examples</h3>
{{sl-calendar action="alertLabel" content=content}}

<h3>Properties</h3>
<div class="list-group">
</div>