<h2>sl-chart</h2>
<p class="lead">A wrapper component for <a href="http://www.highcharts.com">Highcharts</a>.</p>

<h3>Example</h3>
<div>
    {{#sl-button action="logOptions"}}Log options{{/sl-button}}
    {{#sl-button action="logSeries"}}Log series{{/sl-button}}
</div>
{{sl-chart options=chartOptions series=content width="100%"}}

<h3>Properties</h3>
<div class="list-group">
    {{#property-text name="height" type="string"}}
        CSS string for the height inline style value.
    {{/property-text}}

    {{#property-text name="options" required=true type="object"}}
        An object of options passed directly to Highcharts initialization.
    {{/property-text}}

    {{#property-text name="series" required=true type="array"}}
        Array of series data to bind to the component.
    {{/property-text}}

    {{#property-text name="width" type="string"}}
        CSS string for the width inline style value.
    {{/property-text}}
</div>