<h2>sl-checkbox</h2>
<p class="lead">An improved substitute for the default &lt;input type="checkbox&gt; element. See <a href="http://getbootstrap.com/css/#forms-controls">Bootstrap - Supported controls</a> for details.</p>

<h3>Examples</h3>
<form class="form form-inline">
    <p>
        {{sl-checkbox inline=true label="Checkbox" name="checkbox" value=checkboxValue}}
        {{#if checkboxValue}}
            <span class="label label-success">Checked!</span>
        {{/if}}
    </p>
    <p>{{sl-checkbox disabled=true label="disabled=true"}}</p>
</form>

<h3>Properties</h3>
<div class="list-group">
    <div class="list-group-item">
        <h4 class="list-group-item-title">disabled</h4>
        <p><span class="text-primary">boolean</span>, <span class="text-info">default: false</span></p>
        <p>When true, the checkbox is disabled.</p>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-title">label</h4>
        <p><span class="text-primary">string</span></p>
        <p>Label text to display beside the checkbox.</p>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-title">name</h4>
        <p><span class="text-primary">string</span></p>
        <p><code>name</code> attribute value for the input</p>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-title">value</h4>
        <p><span class="text-primary">object</span></p>
        <p>Bound value for the checkbox.</p>
    </div>
</div>