<h2>sl-drop-button</h2>
<p class="lead">A combination of a button with a drop-down menu, with triggered actions. Utilizes <a href="http://getbootstrap.com/javascript/#dropdowns">Bootstrap - Dropdowns</a>.</p>

<h3>Example</h3>
<div>
    {{sl-drop-button content=content label="Select a theme"}}
</div>

{{#sl-alert theme=selectedTheme}}
    Selected theme: {{selectedTheme}}
{{/sl-alert}}

<h3>Properties</h3>
<div class="list-group">
    {{#property-text name="label" type="string"}}
        Text label for button text.
    {{/property-text}}

    {{#property-text name="content" type="array"}}
        Array of objects representing the dropdown items. Each object can have the following properties:
        <ul>
            <li><strong>action</strong> - String for the name of the controller's action to call when option is clicked.</li>
            <li><strong>label</strong> - Text label for the option; if omitted, the option will become a divider</li>
        </ul>
    {{/property-text}}
</div>