<h2>sl-grid</h2>
<p class="lead">A full-featured grid table component</p>

{{#sl-panel heading="Example"}}
    <p>Coming soon&hellip;</p>
{{/sl-panel}}

{{#sl-panel heading="Properties"}}
    <p>Coming soon&hellip;</p>
{{/sl-panel}}
