<h2>sl-loading-icon</h2>
<p class="lead">A simple loading icon span.</p>

<h3>Examples</h3>
{{sl-loading-icon large=true}}

<h3>Properties</h3>
<div class="list-group">
    {{#property-text name="large" type="boolean" default="false"}}
        When true, the icon will be larger than normal.
    {{/property-text}}
</div>