<h2>sl-menu</h2>
<p class="lead">A component that can be nested to build complex menu hierarchies.</p>

<h3>Example</h3>
{{sl-menu menuBinding="controller.content" changeRoute="changeRouteHandler" selectionMade="selectionMadeHandler" actionInitiated="actionInitiatedHandler" keyEventsBinding="controller.keyHandler"}}

<h3>Properties</h3>
<ul class="list-group">
    {{#property-text name="actionInitiated" type="function"}}
        Handler for string based actions that are associated with a menu item. If a given item has an associated action, the handler bound to the actionInitiated property will be called and the name of the action handed as the only parameter.
    {{/property-text}}

    {{#property-text name="keyEvents" type="array"}}
        Used for providing events to the menu. This can be used in conjunction with the <strong>utils/sl-menu-key-adapter</strong> to provide the proper events to support key presses.
    {{/property-text}}

    {{#property-text name="menu" required=true type="object"}}
        Used to provide the underlying structure of the entire menu. This expects an Ember.Object with an <code>pages</code> attribute that contains an Ember.Array of other nodes. Each node, including the top level, can have the following attributes:
        <ul>
            <li><strong>emberAction</strong> - This can either be a string, which will be received by the <code>actionInitiated</code> binding on the template or can actually be a function that will be executed when the item is selected with either a mouse click or through a keyboard shortcut.</li>
            <li><strong>emberRoute</strong> - This can be used to specify a route to which the application will transition if the menu item is selected.  This should be used to link to pages inside the Ember app.</li>
            <li><strong>emberLink</strong> - This can be used to specify a link to another page.  This should be used to link to pages outside of the Ember app. </li>
            <li><strong>pages</strong> - An array of nodes that will be embedded under the <code>label</code> attribute as a sub-menu.</li>
            <li><strong>label</strong> - The label of the menu itself. This should be <em>null</em> for top level menus and will provide the name of the sub-menu for sub-menu lists</li>
        </ul>
    {{/property-text}}

    {{#property-text name="selectionMade" type="function"}}
        Handler for selection events. Handler will be given the full path to the selected node.
    {{/property-text}}

    {{#property-text name="changeRoute" type="function"}}
        Handler for handling the selection of menu items that have a corresponding emberRoute.  Typically, this will be a simple <code>transitionTo</code> or <code>transitionToRoute</code> call.
    {{/property-text}}
</ul>