<h2>sl-panel</h2>
<p class="lead">A basic content wrapper for <a href="http://getbootstrap.com/components/#panels">Bootstrap - Panels</a>.</p>

<h3>Example</h3>
{{#sl-panel heading="Panel heading"}}
    This is the test panel's content.
{{/sl-panel}}

<h3>Properties</h3>
<div class="list-group">
    {{#property-text name="class" type="string"}}
        The <code>class</code> attribute for the panel component.
    {{/property-text}}

    {{#property-text name="heading" type="string"}}
        Text for the panel heading.
    {{/property-text}}

    {{#property-text name="id" type="string"}}
        The <code>id</code> attribute for the panel component. Overrides Ember's generated ID.
    {{/property-text}}
</div>