<h2>sl-tabpanel</h2>
<p class="lead">A component with selectable tabs and related tab panes. Based on <a href="http://getbootstrap.com/javascript/#tabs">Bootstrap - Togglable tabs</a>.</p>

<h3>Example</h3>
{{sl-tabpanel activeTabName="One" content=content}}

<p>One's input text: &ldquo;{{one.inputText}}&rdquo;</p>

<h3>Properties</h3>
<div class="list-group">
    {{#property-text name="activeTabName" type="string"}}
        Name of the initial active tab.
    {{/property-text}}

    {{#property-text name="content" type="mixed" required=true}}
        Array of objects representing the tabs and their panes. Each item should have the following properties:
        <ul>
            <li><strong class="text-danger">name <small>(required)</small></strong> - Text for the tab label. Also used for internal identification. The <code>activeTabName</code> will match this label text when a tab is selected.</li>
            <li><strong class="text-danger">template <small>(required)</small></strong> - String name of the template to render for this tab.</li>
        </ul>
    {{/property-text}}
</div>