<h2>Service: sl-modal</h2>
<p class="lead">
The service provides a way to manage modals across the app.
</p>

<section>
    <h3>Finding a Modal</h3>
    <p>The <code>find()</code> function accepts a <code>name</code> parameter which is the unique identifier used to lookup the modal. In the example below the sl-modal service is injected into a controller, the controller can then use the service to lookup a modal by name and perform actions on the {{#link-to "demos.sl-modal"}}sl-modal{{/link-to}} instance.</p>
    <pre>Ember.Controller.extend({
    modalService: Ember.inject.service( 'sl-modal' ),

    actions: {
        openModal( name ) {
            const service = this.get( 'modalService' );
            const modal = service.find( name );
            modal.show();
        }
    }</pre>
</section>
