<div class="container">
    <div class="page-header">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Components
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>{{#link-to "pagination"}}Pagination{{/link-to}}</li>
                    <li>{{#link-to "sl-alert"}}Sl-Alert{{/link-to}}</li>
                    <li>{{#link-to "sl-button"}}Sl-Button{{/link-to}}</li>
                    <li>{{#link-to "sl-calendar"}}Sl-Calendar{{/link-to}}</li>
                    <li>{{#link-to "sl-chart"}}Sl-Chart{{/link-to}}</li>
                    <li>{{#link-to "sl-checkbox"}}Sl-Checkbox{{/link-to}}</li>
                    <li>{{#link-to "sl-date-picker"}}Sl-Date-Picker{{/link-to}}</li>
                    <li>{{#link-to "sl-date-range-picker"}}Sl-Date-Range-Picker{{/link-to}}</li>
                    <li>{{#link-to "sl-date-time"}}Sl-Date-Time{{/link-to}}</li>
                    <li>{{#link-to "sl-drop-button"}}Sl-Drop-Button{{/link-to}}</li>
                    <li>{{#link-to "sl-input"}}Sl-Input{{/link-to}}</li>
                    <li>{{#link-to "sl-loading-icon"}}Sl-Loading-Icon{{/link-to}}</li>
                    <li>{{#link-to "sl-menu"}}Sl-Menu{{/link-to}}</li>
                    <li>{{#link-to "sl-pagination-controls"}}Sl-Pagination-Controls{{/link-to}}</li>
                    <li>{{#link-to "sl-pagination-info"}}Sl-Pagination-Info{{/link-to}}</li>
                    <li>{{#link-to "sl-pagination-per-page-select"}}Sl-Pagination-Per-Page-Select{{/link-to}}</li>
                    <li>{{#link-to "sl-panel"}}Sl-Panel{{/link-to}}</li>
                    <li>{{#link-to "sl-progress-bar"}}Sl-Progress-Bar{{/link-to}}</li>
                    <li>{{#link-to "sl-radio-group"}}Sl-Radio-Group{{/link-to}}</li>
                    <li>{{#link-to "sl-select"}}Sl-Select{{/link-to}}</li>
                    <li>{{#link-to "sl-simple-modal"}}Sl-Simple-Modal{{/link-to}}</li>
                    <li>{{#link-to "sl-span"}}Sl-Span{{/link-to}}</li>
                    <li>{{#link-to "sl-tab-panel"}}Sl-Tab-Panel{{/link-to}}</li>
                    <li>{{#link-to "sl-textarea"}}Sl-Textarea{{/link-to}}</li>
                    <li>{{#link-to "sl-tooltip"}}Sl-Tooltip{{/link-to}}</li>
                </ul>
            </li>
        </ul>
        <h1 id="title">
            {{#link-to "index"}}Sl-Components{{/link-to}}
            <small>v0.9-pre</small>
        </h1>
    </div>

    {{outlet}}
</div>
