<div class="container">
    <div class="page-header">
        <ul class="nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu <span class="caret"></span></a>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li role="presentation">
                        {{#link-to "index"}}
                            <i class="fa fa-home"></i>
                            Home
                        {{/link-to}}
                    </li>
                    <li role="presentation">
                        <a href="https://github.com/softlayer/sl-ember-components/blob/master/README.md">
                            <i class="fa fa-wrench"></i>
                            Get Started
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="https://github.com/softlayer/sl-ember-components/blob/master/CONTRIBUTING.md">
                            <i class="fa fa-cog"></i>
                            Contribution Guide
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="https://github.com/softlayer/sl-ember-components/stargazers">
                            <i class="fa fa-star"></i>
                            Star Our Repo
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="https://github.com/softlayer/sl-ember-components/fork">
                            <i class="fa fa-code-fork"></i>
                            Fork Our Repo
                        </a>
                    </li>
                    <li class="divider" role="presentation"></li>
                    <li role="presentation">{{#link-to "demos.sl-alert"}}sl-alert{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-button"}}sl-button{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-calendar"}}sl-calendar{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-chart"}}sl-chart{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-checkbox"}}sl-checkbox{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-date-picker"}}sl-date-picker{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-date-range-picker"}}sl-date-range-picker{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-date-time"}}sl-date-time{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-dialog"}}sl-dialog{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-drop-button"}}sl-drop-button{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-input"}}sl-input{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-grid"}}sl-grid system{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-loading-icon"}}sl-loading-icon{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-menu"}}sl-menu{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-pagination-controls"}}sl-pagination-controls{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-pagination-info"}}sl-pagination-info{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-pagination-per-page-select"}}sl-pagination-per-page-select{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-panel"}}sl-panel{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-progress-bar"}}sl-progress-bar{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-radio"}}sl-radio{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-radio-group"}}sl-radio-group{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-select"}}sl-select{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-span"}}sl-span{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-tab-panel"}}sl-tab-panel{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-textarea"}}sl-textarea{{/link-to}}</li>
                    <li role="presentation">{{#link-to "demos.sl-tooltip"}}sl-tooltip{{/link-to}}</li>
                </ul>
            </li>
        </ul>
        <h1 id="title">
            {{#link-to "index"}}Sl-Ember-Components{{/link-to}}
        </h1>
    </div>

    {{outlet}}

    <hr>

    <div class="row">
        <div class="col-md-12 text-center">
            <p>npm install sl-ember-components</p>
            <p><a href="https://github.com/softlayer/sl-ember-components/blob/master/LICENSE.md">MIT Licensed</a></p>
        </div>
    </div>
</div>
