<div class="row">
    <div class="col-md-12 text-center">
        <h1>sl-ember-components REPLACE_APPLICATION_VERSION</h1>
        <p class="lead">An Ember CLI Addon that provides a variety of UI components.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <section class="col-md-4">
                <h4>Components</h4>
                <ul>
                    <li>sl-alert</li>
                    <li>sl-button</li>
                    <li>sl-calendar</li>
                    <li>sl-chart</li>
                    <li>sl-checkbox</li>
                    <li>sl-date-picker</li>
                    <li>sl-date-range-picker</li>
                    <li>sl-date-time</li>
                    <li>sl-drop-button</li>
                    <li>sl-grid</li>
                    <li>sl-input</li>
                    <li>sl-loading-icon</li>
                    <li>sl-menu</li>
                    <li>sl-modal</li>
                    <li>sl-pagination</li>
                    <li>sl-panel</li>
                    <li>sl-progress-bar</li>
                    <li>sl-radio</li>
                    <li>sl-radio-group</li>
                    <li>sl-select</li>
                    <li>sl-span</li>
                    <li>sl-tab-panel</li>
                    <li>sl-textarea</li>
                    <li>sl-tooltip</li>
                </ul>
            </section>

            <section class="col-md-4">
                <h4>Mixins</h4>
                <ul>
                    <li>sl-component-input-id</li>
                    <li>sl-input-based</li>
                    <li>sl-namespace</li>
                    <li>sl-tooltip-enabled</li>
                </ul>
            </section>

            <section class="col-md-4">
                <h4>Utility Classes</h4>
                <ul>
                    <li>containsValue</li>
                    <li>error</li>
                    <li>warn</li>
                </ul>
            </section>
        </div>
    </div>
</div>

<section>
    <div class="row">
        {{#link-to "demos" class="col-md-3 text-center"}}
            <h3><i class="glyphicon glyphicon-picture"></i></h3>
            <p><b>Demo</b></p>
        {{/link-to}}
        <a class="col-md-3 text-center" href="http://softlayer.github.io/sl-ember-components/docs" target="new">
            <h3><i class="glyphicon glyphicon-book"></i></h3>
            <p><b>Documentation</b></p>
        </a>
        {{#link-to "browsers" class="col-md-3 text-center"}}
            <h3><i class="glyphicon glyphicon-check"></i></h3>
            <p><b>Supported Browsers</b></p>
        {{/link-to}}
        <a class="col-md-3 text-center" href="https://github.com/softlayer/sl-ember-components">
            <h3><i class="glyphicon glyphicon-cloud-download"></i></h3>
            <p><b>Available on GitHub</b></p>
        </a>
    </div>
</section>
