<div class="list-group">
    {{#link-to "pagination" class="list-group-item"}}Pagination{{/link-to}}
    {{#link-to "sl-alert" class="list-group-item"}}Sl-Alert{{/link-to}}
    {{#link-to "sl-button" class="list-group-item"}}Sl-Button{{/link-to}}
    {{#link-to "sl-calendar" class="list-group-item"}}Sl-Calendar{{/link-to}}
    {{#link-to "sl-chart" class="list-group-item"}}Sl-Chart{{/link-to}}
    {{#link-to "sl-checkbox" class="list-group-item"}}Sl-Checkbox{{/link-to}}
    {{#link-to "sl-date-picker" class="list-group-item"}}Sl-Date-Picker{{/link-to}}
    {{#link-to "sl-date-range-picker" class="list-group-item"}}Sl-Date-Range-Picker{{/link-to}}
    {{#link-to "sl-date-time" class="list-group-item"}}Sl-Date-Time{{/link-to}}
    {{#link-to "sl-drop-button" class="list-group-item"}}Sl-Drop-Button{{/link-to}}
    {{#link-to "sl-input" class="list-group-item"}}Sl-Input{{/link-to}}
    {{#link-to "sl-loading-icon" class="list-group-item"}}Sl-Loading-Icon{{/link-to}}
    {{#link-to "sl-menu" class="list-group-item"}}Sl-Menu{{/link-to}}
    {{#link-to "sl-pagination-controls" class="list-group-item"}}Sl-Pagination-Controls{{/link-to}}
    {{#link-to "sl-pagination-info" class="list-group-item"}}Sl-Pagination-Info{{/link-to}}
    {{#link-to "sl-pagination-per-page-select" class="list-group-item"}}Sl-Pagination-Per-Page-Select{{/link-to}}
    {{#link-to "sl-panel" class="list-group-item"}}Sl-Panel{{/link-to}}
    {{#link-to "sl-progress-bar" class="list-group-item"}}Sl-Progress-Bar{{/link-to}}
    {{#link-to "sl-radio-group" class="list-group-item"}}Sl-Radio-Group{{/link-to}}
    {{#link-to "sl-select" class="list-group-item"}}Sl-Select{{/link-to}}
    {{#link-to "sl-simple-modal" class="list-group-item"}}Sl-Simple-Modal{{/link-to}}
    {{#link-to "sl-span" class="list-group-item"}}Sl-Span{{/link-to}}
    {{#link-to "sl-tab-panel" class="list-group-item"}}Sl-Tab-Panel{{/link-to}}
    {{#link-to "sl-textarea" class="list-group-item"}}Sl-Textarea{{/link-to}}
    {{#link-to "sl-tooltip" class="list-group-item"}}Sl-Tooltip{{/link-to}}
</div>
