<div class="row">
    <div class="col-md-12 text-center">
        <h1>sl-ember-components</h1>
        <p class="lead">An Ember CLI Addon that provides a variety of UI components.</p>
    </div>
</div>

<div class="row">
    <section class="col-md-3">
        <h4>Components</h4>
        <ul>
            <li>alert</li>
            <li>button</li>
            <li>calendar</li>
            <li>chart</li>
            <li>checkbox</li>
            <li>date-picker</li>
            <li>date-range-picker</li>
            <li>date-time</li>
            <li>dialog</li>
            <li>drop-button</li>
            <li>input</li>
            <li>grid</li>
            <li>loading-icon</li>
            <li>menu</li>
            <li>panel</li>
            <li>progress-bar</li>
            <li>radio</li>
            <li>radio-group</li>
            <li>select</li>
            <li>span</li>
            <li>tab-panel</li>
            <li>textarea</li>
            <li>tooltip</li>
        </ul>
    </section>

    <section class="col-md-3">
        <h4>Mixins</h4>
        <ul>
            <li>input-based</li>
            <li>modal-manager</li>
            <li>modal</li>
            <li>notify-view</li>
            <li>tooltip-enabled</li>
        </ul>
    </section>

    <section class="col-md-3">
        <h4>Helpers</h4>
        <ul>
            <li>get-key</li>
            <li>render-dynamic</li>
        </ul>
    </section>

    <section class="col-md-3">
        <h4>Utility Classes</h4>
        <ul>
            <li>sl-menu-key-adapter</li>
        </ul>
    </section>
</div>

<section>
    <div class="row">
        {{#link-to "demos" class="col-md-3 text-center"}}
            <h3><i class="fa fa-cubes fa-4x"></i></h3>
            <p><b>Demo</b></p>
        {{/link-to}}
        <a class="col-md-3 text-center" href="http://softlayer.github.io/sl-ember-components/docs" target="new">
            <h3><i class="fa fa-book fa-4x"></i></h3>
            <p><b>Documentation</b></p>
        </a>
        {{#link-to "browsers" class="col-md-3 text-center"}}
            <h3><i class="fa fa-plug fa-4x"></i></h3>
            <p><b>Supported Browsers</b></p>
        {{/link-to}}
        <a class="col-md-3 text-center" href="https://github.com/softlayer/sl-ember-components">
            <h3><i class="fa fa-github fa-4x"></i></h3>
            <p><b>Available on GitHub</b></p>
        </a>
    </div>
</section>
