<div class="row">
    <div class="col-md-12 text-center">
        <h1>sl-ember-components</h1>
        <p class="lead">An Ember CLI Addon that provides a variety of UI components.</p>
    </div>
</div>

<!-- Components -->
<section>
    <h4>Components provided</h4>

    <div class="row">
        <div class="col-md-3">
            &middot; alert
        </div>
        <div class="col-md-3">
            &middot; date-range-picker
        </div>
        <div class="col-md-3">
            &middot; loading-icon
        </div>
        <div class="col-md-3">
            &middot; radio-group
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            &middot; button
        </div>
        <div class="col-md-3">
            &middot; date-time
        </div>
        <div class="col-md-3">
            &middot; menu
        </div>
        <div class="col-md-3">
            &middot; select
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            &middot; calendar
        </div>
        <div class="col-md-3">
            &middot; dialog
        </div>
        <div class="col-md-3">
            &middot; pagination controls
        </div>
        <div class="col-md-3">
            &middot; span
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            &middot; chart
        </div>
        <div class="col-md-3">
            &middot; drop-button
        </div>
        <div class="col-md-3">
            &middot; panel
        </div>
        <div class="col-md-3">
            &middot; tab-panel
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            &middot; checkbox
        </div>
        <div class="col-md-3">
            &middot; grid system
        </div>
        <div class="col-md-3">
            &middot; progress-bar
        </div>
        <div class="col-md-3">
            &middot; textarea
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            &middot; date-picker
        </div>
        <div class="col-md-3">
            &middot; input
        </div>
        <div class="col-md-3">
            &middot; radio
        </div>
        <div class="col-md-3">
            &middot; tooltip
        </div>
    </div>
<section>

<!-- Mixins -->
<section>
    <h4>Mixins provided</h4>

    <div class="row">
        <div class="col-md-3">
            &middot; ajax-aware
        </div>
        <div class="col-md-3">
            &middot; modal-manager
        </div>
        <div class="col-md-3">
            &middot; pagination-controller
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            &middot; modal
        </div>
        <div class="col-md-3">
            &middot; notify-view
        </div>
        <div class="col-md-6"></div>
    </div>
</section>

<!-- Helpers -->
<section>
    <h4>Helpers provided</h4>

    <div class="row">
        <div class="col-md-3">
            &middot; get-key
        </div>
        <div class="col-md-3">
            &middot; render-component
        </div>
        <div class="col-md-6"></div>
    </div>
</section>

<!-- Utility Classes -->
<section>
    <h4>Utility Classes provided</h4>

    <div class="row">
        <div class="col-md-3">
            &middot; sl-grid-key-adapter
        </div>
        <div class="col-md-3">
            &middot; sl-menu-key-adapter
        </div>
        <div class="col-md-6"></div>
    </div>
</section>

<section>
    <div class="row">
        {{#link-to "demos" class="col-md-3 text-center"}}
            <h3><i class="fa fa-cubes fa-4x"></i></h3>
            <p><b>Documentation</b></p>
        {{/link-to}}
        {{#link-to "browsers" class="col-md-3 text-center"}}
            <h3><i class="fa fa-gears fa-4x"></i></h3>
            <p><b>Supported Browsers</b></p>
        {{/link-to}}
        <a class="col-md-3 text-center" href="https://github.com/softlayer/sl-ember-components/blob/master/README.md">
            <h3><i class="fa fa-book fa-4x"></i></h3>
            <p><b>Additional Documentation</b></p>
        </a>
        <a class="col-md-3 text-center" href="https://github.com/softlayer/sl-ember-components">
            <h3><i class="fa fa-github fa-4x"></i></h3>
            <p><b>Available on GitHub</b></p>
        </a>
    </div>
</section>
