<div class="row">
    <div class="col-md-12 text-center">
        <h1>sl-ember-components</h1>
        <p class="lead">An Ember CLI Addon that provides a variety of UI components.</p>
    </div>
</div>

<!-- Components -->
<section>
    <h4>Components provided</h4>

    <div class="row">
        <ul class="col-md-3">
            <li>alert</li>
            <li>button</li>
            <li>calendar</li>
            <li>chart</li>
            <li>checkbox</li>
            <li>date-picker</li>
            <li>date-range-picker</li>
        </ul>

        <ul class="col-md-3">
            <li>date-time</li>
            <li>dialog</li>
            <li>drop-button</li>
            <li>grid system</li>
            <li>input</li>
            <li>loading-icon</li>
            <li>menu</li>
        </ul>

        <ul class="col-md-3">
            <li>pagination controls</li>
            <li>panel</li>
            <li>progress-bar</li>
            <li>radio</li>
            <li>radio-group</li>
            <li>select</li>
            <li>span</li>
        </ul>

        <ul class="col-md-3">
            <li>split-grid</li>
            <li>tab-panel</li>
            <li>textarea</li>
            <li>tooltip</li>
        </ul>
    </div>
<section>

<!-- Mixins -->
<section>
    <h4>Mixins provided</h4>

    <div class="row">
        <ul class="col-md-3">
            <li>ajax-aware</li>
            <li>modal</li>
        </ul>

        <ul class="col-md-3">
            <li>modal-manager</li>
            <li>notify-view</li>
        </ul>

        <ul class="col-md-3">
            <li>pagination-controller</li>
        </ul>
    </div>
</section>

<!-- Helpers -->
<section>
    <h4>Helpers provided</h4>

    <div class="row">
        <ul class="col-md-3">
            <li>get-key</li>
        </ul>

        <ul class="col-md-3">
            <li>render-component</li>
        </ul>
    </div>
</section>

<!-- Utility Classes -->
<section>
    <h4>Utility Classes provided</h4>

    <div class="row">
        <ul class="col-md-3">
            <li>sl-grid-key-adapter</li>
        </ul>

        <ul class="col-md-3">
            <li>sl-menu-key-adapter</li>
        </ul>
    </div>
</section>

<section>
    <div class="row">
        {{#link-to "demos" class="col-md-3 text-center"}}
            <h3><i class="fa fa-cubes fa-4x"></i></h3>
            <p><b>Documentation</b></p>
        {{/link-to}}
        {{#link-to "browsers" class="col-md-3 text-center"}}
            <h3><i class="fa fa-gears fa-4x"></i></h3>
            <p><b>Supported Browsers</b></p>
        {{/link-to}}
        <a class="col-md-3 text-center" href="https://github.com/softlayer/sl-ember-components/blob/master/README.md">
            <h3><i class="fa fa-book fa-4x"></i></h3>
            <p><b>Additional Documentation</b></p>
        </a>
        <a class="col-md-3 text-center" href="https://github.com/softlayer/sl-ember-components">
            <h3><i class="fa fa-github fa-4x"></i></h3>
            <p><b>Available on GitHub</b></p>
        </a>
    </div>
</section>
