<h2>sl-loading-icon</h2>
<p class="lead">A simple loading icon span.</p>

<h3>Example</h3>
<pre>\{{sl-loading-icon}}</pre>
{{sl-loading-icon}}

<h3>Properties</h3>
<div class="list-group">
    {{#property-text name="inverse" type="boolean" default="false"}}
        When true, a light version of the icon will be used (useful with masks).
    {{/property-text}}
</div>
