<h2>Pagination</h2>
<p class="lead">A collection of three components make up various pagination display and/or controls.</p>

<hr>

<ul>
    <li>{{#link-to "sl-pagination-controls"}}Sl-Pagination-Controls{{/link-to}}</li>
    <li>{{#link-to "sl-pagination-info"}}Sl-Pagination-Info{{/link-to}}</li>
    <li>{{#link-to "sl-pagination-per-page-select"}}Sl-Pagination-Per-Page-Select{{/link-to}}</li>
</ul>
