<h2>sl-alert</h2>
<p class="lead">A message box component for short alert messages. Based on <a href="http://getbootstrap.com/javascript/#alerts">Bootstrap - Alert messages</a>.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-alert dismissable=true theme="info"}}
    Dismissable info alert
\{{/sl-alert}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-alert dismissable=true theme="info"}}Dismissable info alert{{/sl-alert}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-alert theme="success"}}
    Success alert
\{{/sl-alert}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-alert theme="success"}}Success alert{{/sl-alert}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-alert theme="warning"}}
    Warning alert
\{{/sl-alert}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-alert theme="warning"}}Warning alert{{/sl-alert}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-alert theme="danger"}}
    Danger alert
\{{/sl-alert}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-alert theme="danger"}}Danger alert{{/sl-alert}}
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="dismiss" type="string" requires="dismissable=true"}}
        An action to call when the button is dismissed.
    {{/property-text}}

    {{#property-text name="dismissable" type="boolean" default="false"}}
        Whether to add a dismiss button.
    {{/property-text}}

    {{#property-text name="theme" type="string" default="\"info\""}}
        Bootstrap contextual color type; "danger", "info", "success", "warning".
    {{/property-text}}
</div>
