<h2>sl-dialog</h2>
<p class="lead">A dialog component used to wrap content in. Based on <a href="http://getbootstrap.com/javascript/#modals">Bootstrap - Modals</a>.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-dialog
    id="testModal"
    show=showModal
    title="Test Dialog"}}
    &lt;p&gt;Hello world!&lt;/p&gt;
\{{/sl-dialog}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Click to Show Component</h6>
        {{sl-button action="openModal" label="Open Dialog"}}
    </div>
</div>


{{#sl-dialog id="testDialog" show=showModal title="Test Dialog"}}
    <p>Hello World!</p>
{{/sl-dialog}}

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        sl-modal
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="buttonText" type="string" default="\"Close\""}}
        Text label for the button.
    {{/property-text}}

    {{#property-text name="show" type="boolean"}}
        Bound property to open/show the modal.
    {{/property-text}}

    {{#property-text name="title" type="string" default="null"}}
        Title text at the top of the modal window.
    {{/property-text}}
</div>

<hr>

<h3>ARIA support</h3>

<div class="list-group">
    <div class="list-group-item">
        <h6>role</h6>

        <p>This attribute is automatically rendered as <code>role="dialog"</code></p>
    </div>

    <div class="list-group-item">
        <h6>aria-hidden</h6>

        <p>This attribute is automatically rendered and defaults to <code>aria-hidden="true"</code></p>
    </div>

    <div class="list-group-item">
        <h6>aria-labelledby</h6>

        <p>Partial automatic support</p>

        <p>This attribute is automatically rendered as <code>aria-labelledby="X"</code>, where <code>X</code> is a string composed of the value <code>modalTitle-</code> followed by a random number.</p>

        <p>This is only part of what is necessary though to achieve support for this ARIA property.  The other part requires you to identify a section of text that serves as the label for this dialog and to give it the same id value assigned to the <code>aria-labelledby</code> attribute.</p>

        <p>To facilitate this, the <code>aria-labelledby</code> property is exposed on this component for use in your template.  <strong>Note:</strong> <a href="https://github.com/emberjs/ember.js/issues/4985">Issue 4985</a> (which was spawned from <a href="https://github.com/emberjs/ember.js/issues/2917">Issue 2987</a>) currently prevents accessing this property as expected or desired.  In order to access it in your template you must use:</p>

        <pre>\{{bind-attr id=_view.parentView.aria-labelledby}}</pre>

        <p>where you're having to use the private API property of <code>_view</code></p>
    </div>

    <div class="list-group-item">
        <h6>aria-describedby</h6>
        <p>There is no automatic support for this attribute</p>
    </div>
</div>

<h3>ARIA advanced implementation</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>If you do not like the idea of having to use a private API property to achieve <code>aria-labelledby</code> support, or are in need of <code>aria-describedby</code> support, then you should use the advanced implemention of the modal component, which is described in detail at <a href="https://github.com/softlayer/sl-components/addon/mixins/docs/modal.md">https://github.com/softlayer/sl-components/addon/mixins/docs/modal.md</a>.</p>
    </div>
</div>