<h2>Sl-Pagination-Info</h2>
<p class="lead">Displays the current page information as a string.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-pagination-info
    pagingData=pagingData
    pagingInfo=translations.label
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-pagination-info pagingData=pagingData pagingInfo=translations.label}}
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="pagingData" type="object"}}
        An object with the following properties:<br/>
        <dl class="dl-horizontal">
            <dt>pageFirstRow</dt>
            <dd>The index of the first row on this page within the entire list</dd>
            <dt>pageLastRow</dt>
            <dd>The index of the last row on this page within the entire list</dd>
            <dt>totalRows</dt>
            <dd>The total number of rows for all the pages</dd>
        </dl>
    {{/property-text}}

    {{#property-text name="pagingInfo" type="string"}}
        A string with tokens to be translated with the sl-translate component.
        Should be of the format: "Viewing {0} to {1} of {2} Items"
    {{/property-text}}
</div>
