<h2>Sl-Radio-Group</h2>
<p class="lead">A component that contains a group of "radio" type inputs. See <a href="http://getbootstrap.com/css/#forms-controls">Bootstrap - Supported controls</a>.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-radio-group
    content=content
    label="Color selection"
    name="colorRadio"
    value=currentColor
}}</pre>

        <h6>Route</h6>
        <pre>model: [
    {
        label: 'Red',
        value: 'red'
    }, {
        label: 'Green',
        value: 'green'
    }, {
        label: 'Blue',
        value: 'blue'
    }, {
        label: 'Splorge',
        disabled: true
    }
]</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-radio-group
            content=content
            label="Color selection"
            name="colorRadio"
            value=currentColor
        }}
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="content" required=true type="array"}}
        Radio option definitions. Each item can have the following properties:
        <ul>
            <li><strong>disabled</strong> - <code>disabled</code> attribute value</li>
            <li><strong class="text-danger">label <small>(required)</small></strong> - Text label for the radio button</li>
            <li><strong class="text-danger">value <small>(required)</small></strong> - <code>value</code> attribute value</li>
        </ul>
    {{/property-text}}

    {{#property-text name="name" required=true type="string"}}
        Shared <code>name</code> attribute for the radio inputs.
    {{/property-text}}

    {{#property-text name="disabled" type="boolean" default="false"}}
        When true, all radio inputs will be disabled.
    {{/property-text}}

    {{#property-text name="inline" type="boolean" default="false"}}
        Display the radio inputs inline with each other.
    {{/property-text}}

    {{#property-text name="label" type="string"}}
        Text label for radio group as a whole.
    {{/property-text}}

    {{#property-text name="optional" type="boolean" default="false"}}
        When true, the component is styled to reflect optional status.
    {{/property-text}}

    {{#property-text name="readonly" type="boolean" default="false"}}
        Shared <code>readonly</code> attribute value for the radio inputs.
    {{/property-text}}

    {{#property-text name="required" type="boolean" default="false"}}
        When true, the component is styled to reflect required status.
    {{/property-text}}

    {{#property-text name="value" type="mixed"}}
        Bound value for the radiogroup component.
    {{/property-text}}
</div>
