<h2>sl-radio</h2>
<p class="lead">Individual radio button component.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-radio label="Test radio button"}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-radio label="Test radio button"}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-radio disabled=true label="Disabled radio button"}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-radio disabled=true label="Disabled radio button"}}
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="disabled" type="boolean" default="false"}}
        When true, the radio button will be disabled.
    {{/property-text}}

    {{#property-text name="inline" type="boolean" default="false"}}
        Display the radio inputs inline with each other.
    {{/property-text}}

    {{#property-text name="label" type="string"}}
        Text label for the button.
    {{/property-text}}

    {{#property-text name="name" type="string"}}
        <code>name</code> attribute value for the button.
    {{/property-text}}

    {{#property-text name="readonly" type="boolean" default="false"}}
        When true, the radio button will be readonly.
    {{/property-text}}

    {{#property-text name="value" type="mixed"}}
        Bound value for the radio button.
    {{/property-text}}
</div>
