<h2>Sl-Simple-Modal</h2>
<p class="lead">A simple modal component used to wrap content in. Based on <a href="http://getbootstrap.com/javascript/#modals">Bootstrap - Modals</a>.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-simple-modal
    id="testModal"
    show=showModal
    title="Test Modal"}}
    &lt;p&gt;Hello world!&lt;/p&gt;
\{{/sl-simple-modal}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Click to Show Component</h6>
        {{sl-button action="openModal" label="Open Modal"}}
    </div>
</div>

{{#sl-simple-modal id="testModal" show=showModal title="Test Modal"}}
    <p>Hello world!</p>
{{/sl-simple-modal}}

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="accept" type="function"}}
        Action to call when accept button is clicked.
    {{/property-text}}

    {{#property-text name="acceptText" type="string" default="\"Accept\""}}
        Text label for the accept button.
    {{/property-text}}

    {{#property-text name="cancelText" type="string" default="\"Cancel\""}}
        Text label for the cancel button.
    {{/property-text}}

    {{#property-text name="close" type="function"}}
        Action to call when one of the close buttons is clicked.
    {{/property-text}}

    {{#property-text name="show" type="boolean"}}
        Bound property to open/show the modal.
    {{/property-text}}

    {{#property-text name="title" type="string" default="null"}}
        Title text at the top of the modal window.
    {{/property-text}}
</div>
