<h2>sl-span</h2>
<p class="lead">A wrapper to intelligently represent state for inline content.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>&lt;p&gt;
    Loads in 5 seconds:&amp;emsp;\{{sl-span
        class="text-success"
        isLoading=isLoading
        value="Done!"
    }}
&lt;/p&gt;</pre>

    <p>Note: This component does not provide a time-delay mechanism.  The 5 second time delay represented in the example is implemented in the demonstration controller and is employed to emulate the waiting for a promise to be resolved in order to demonstrate the loading state of this component and the final display of the resolved data value.</p>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <p>Loads in 5 seconds:&emsp;{{sl-span class="text-success" isLoading=isLoading value="Done!"}}</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="value" required=true type="mixed"}}
        The value to display once loaded/ready.
    {{/property-text}}

    {{#property-text name="class" type="string"}}
        The <code>class</code> attribute to apply to the span.
    {{/property-text}}

    {{#property-text name="isLoading" type="boolean" default="false"}}
        When true, a loading icon will be displayed in place of content.
    {{/property-text}}

</div>
