<h2>sl-split-grid</h2>
<p class="lead">Dan's split panel grid table list thing.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-split-grid
    autoHeight=false
    columns=columns
    content=content
    detailTemplate="color"
    detailTitlePath="name"
    title="Colors"
}}</pre>

        <h6>Route</h6>
        <pre>model: [
    {
        name: 'Red',
        fruit: 'Apple',
        hexCode: '#FF0000'
    }, {
        name: 'Orange',
        fruit: 'Orange',
        hexCode: '#FF7700'
    }, {
        name: 'Yellow',
        fruit: 'Banana',
        hexCode: '#FFFF00'
    }, {
        name: 'Green',
        fruit: 'Lime',
        hexCode: '#00FF00'
    }, {
        name: 'Blue',
        fruit: 'Blueberry',
        hexCode: '#0000FF'
    }, {
        name: 'Purple',
        fruit: 'Grape',
        hexCode: '#FF00FF'
    }
]</pre>

        <h6>Controller</h6>
        <pre>columns: [
    {
        path: 'name',
        title: 'Color'
    }, {
        path: 'fruit',
        size: 'tiny',
        title: 'Fruit'
    }, {
        path: 'hexCode',
        size: 'tiny',
        title: 'Hex Code'
    }
]</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-split-grid
            autoHeight=false
            columns=columns
            content=content
            detailTemplate="color"
            detailTitlePath="name"
            title="Colors"
        }}
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="columns" type="array" required=true}}
        An array of column definition objects.
    {{/property-text}}

    {{#property-text name="content" type="array" required=true}}
        Array of records to display as the rows.
    {{/property-text}}

    {{#property-text name="detailTemplate" type="string" required=true}}
        The name of the template to render for the detail pane.
    {{/property-text}}

    {{#property-text name="detailTitlePath" type="string" required=true}}
        The name of the record's property to display as the title of the detail pane.
    {{/property-text}}

    {{#property-text name="autoHeight" type="boolean" default="true"}}
        Determines whether the content areas of the split-grid will dynamically calculate their allowed heights within the viewport when the window is resized. When false, the <code>height</code> property is used to determine the content areas' heights manually.
    {{/property-text}}

    {{#property-text name="height" type="number" default="600"}}
        Determines the content areas' heights in pixels. Will only be used when <code>autoHeight</code> is <em>false</em>.
    {{/property-text}}

    {{#property-text name="title" type="string"}}
        The title of the split-grid.
    {{/property-text}}
</div>
