<h2>sl-tab-panel</h2>
<p class="lead">A component with selectable tabs and related tab panes. Based on <a href="http://getbootstrap.com/javascript/#tabs">Bootstrap - Togglable tabs</a>.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-tab-panel}}
    \{{sl-tab-pane label="One" name="one" templateName="tabs/one"}}
    \{{sl-tab-pane label="Two" name="two" templateName="tabs/two"}}

    \{{#sl-tab-pane label="Three" name="three"}}
        &lt;p&gt;Content for tab three!&lt;/p&gt;
    \{{/sl-tab-pane}}
\{{/sl-tab-panel}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-tab-panel}}
            {{sl-tab-pane label="One" name="one" templateName="tabs/one"}}
            {{sl-tab-pane label="Two" name="two" templateName="tabs/two"}}

            {{#sl-tab-pane label="Three" name="three"}}
                <p>Content for tab three!</p>
            {{/sl-tab-pane}}
        {{/sl-tab-panel}}
    </div>
</div>

<hr>

<h3>sl-tab-panel Properties</h3>

<div class="list-group">
    {{#property-text name="alignTabs" type="string" default="\"left\""}}
        How to align the tabs, "left" or "right".
    {{/property-text}}

    {{#property-text name="initialTabName" type="string"}}
        Name of the initial active tab. This value corresponds to the value set on the <code>name</code> property of the sl-tab-pane component. If omitted, the first tab pane will be open on initialization.
    {{/property-text}}
</div>

<hr>

<h3>sl-tab-pane Properties</h3>

<ul class="list-group">
    {{#property-text name="label" type="string" required=true}}
        The text label for the tab pane's tab.
    {{/property-text}}

    {{#property-text name="name" type="string" required=true}}
        <p>This value is never displayed in the tabs.</p>
        <p>Used to set the <code>data-tab-name</code> attribute on the tab and used internally by the component to manage tab selection.</p>
        <p>The name provided can be specified in the <code>initialTabName</code> property of the sl-tab-panel component to indicate which tab should be active when initially displayed.</p>
    {{/property-text}}

    {{#property-text name="templateName" type="string"}}
        Name of the template to render in the tab pane. If omitted, the component will render content from its block.
    {{/property-text}}
</ul>
