<h2>sl-textarea</h2>
<p class="lead">A Bootstrap-wrapped component based on Ember's textarea helper.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-textarea
    label="First textarea"
    placeholder="Enter some text!"
    rows=6
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-textarea
            label="First textarea"
            placeholder="Enter some text!"
            rows=6
        }}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-textarea
    disabled=true
    label="Second textarea"
    placeholder="You can't enter anything..."
    rows=4
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-textarea
            disabled=true
            label="Second textarea"
            placeholder="You can't enter anything..."
            rows=4
        }}
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        sl-input-based, sl-tooltip-enabled
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="cols" type="number/string"}}
        <code>cols</code> attribute value.
    {{/property-text}}

    {{#property-text name="disabled" type="boolean" default="false"}}
        When true, the textarea is disabled.
    {{/property-text}}

    {{#property-text name="helpText" type="string"}}
        Text to display below the textarea.
    {{/property-text}}

    {{#property-text name="label" type="string"}}
        String for label text above the input.
    {{/property-text}}

    {{#property-text name="maxlength" type="number/string"}}
        <code>maxlength</code> attribute value.
    {{/property-text}}

    {{#property-text name="optional" type="boolean" default="false"}}
        When true, the component is styled to reflect optional status.
    {{/property-text}}

    {{#property-text name="placeholder" type="string"}}
        <code>placeholder</code> attribute value for the textarea.
    {{/property-text}}

    {{#property-text name="popover" type="string" requires="title"}}
        Popover content text.
    {{/property-text}}

    {{#property-text name="readonly" type="boolean" default="false"}}
        <code>readonly</code> attribute value for the textarea.
    {{/property-text}}

    {{#property-text name="required" type="boolean" default="false"}}
        When true, the component is styled to reflect required status.
    {{/property-text}}

    {{#property-text name="rows" type="number/string"}}
        <code>rows</code> attribute value.
    {{/property-text}}

    {{#property-text name="tabindex" type="string"}}
        <code>tabindex</code> attribute value.
    {{/property-text}}

    {{#property-text name="title" type="string"}}
        Tooltip text string, or becomes popover title with supplied popover property.
    {{/property-text}}

    {{#property-text name="value" type="mixed"}}
        The bound value of the textarea.
    {{/property-text}}
</div>
