<h2>sl-span</h2>
<p class="lead">A wrapper to intelligently represent state for inline content.</p>

<h3>Example</h3>
<pre>\{{sl-span class="text-success" isLoading=isLoading value="Done!"}}</pre>
<p>Loads in 5 seconds:&emsp;{{sl-span class="text-success" isLoading=isLoading value="Done!"}}</p>

<h3>Properties</h3>
<div class="list-group">
    {{#property-text name="class" type="string"}}
        The <code>class</code> attribute to apply to the span.
    {{/property-text}}

    {{#property-text name="isLoading" type="boolean" default="false"}}
        When true, a loading icon will be displayed in place of content.
    {{/property-text}}

    {{#property-text name="value" required=true type="mixed"}}
        The value to display once loaded/ready.
    {{/property-text}}
</div>
