<h2>sl-tab-pane</h2>
<p class="lead">Nested inside {{#link-to "tab-panel"}}sl-tab-panel{{/link-to}}, sl-tab-pane represents a single pane of content.</p>

<h3>Example</h3>
<pre>\{{#sl-tab-panel}}
    \{{#sl-tab-pane label="First" name="first"}}
        &lt;p&gt;Hello from the first tab!&lt;/p&gt;
    \{{/sl-tab-pane}}

    \{{#sl-tab-pane label="Second" name="second"}}
        &lt;p&gt;Hello from the second tab!&lt;/p&gt;
    \{{/sl-tab-pane}}
\{{/sl-tab-panel}}</pre>
{{#sl-tab-panel}}
    {{#sl-tab-pane label="First" name="first"}}
        <p>Hello from the first tab!</p>
    {{/sl-tab-pane}}

    {{#sl-tab-pane label="Second" name="second"}}
        <p>Hello from the second tab!</p>
    {{/sl-tab-pane}}
{{/sl-tab-panel}}

<h3>Properties</h3>
<ul class="list-group">
    {{#property-text name="label" type="string" required=true}}
        The text label for the tab pane's tab.
    {{/property-text}}

    {{#property-text name="name" type="string" required=true}}
        The text name of the tab, used only internally to the pane's parent
        tab-panel.
    {{/property-text}}
</ul>
