<h2>sl-tab-panel</h2>
<p class="lead">A component with selectable tabs and related tab panes. Based on <a href="http://getbootstrap.com/javascript/#tabs">Bootstrap - Togglable tabs</a>.</p>
<p>Each <code>sl-tab-panel</code> wraps a number of <code>tab-pane</code>s. See {{#link-to "tab-pane"}}sl-tab-pane{{/link-to}} for pane details.</p>

{{#sl-panel heading="Examples"}}
    <p>
        The first tab panel below is <em>not</em> collapsible, but the second
        one is.
    </p>

    <p><b>Panel One</b>'s input text: &ldquo;{{one.inputText}}&rdquo;</p>
{{/sl-panel}}

{{#sl-tab-panel}}
    {{#sl-tab-pane label="One" name="one"}}
        {{render "tabs/one"}}
    {{/sl-tab-pane}}
    {{#sl-tab-pane label="Two" name="two"}}
        {{render "tabs/two"}}
    {{/sl-tab-pane}}
    {{#sl-tab-pane label="Three" name="three"}}
        {{render "tabs/three"}}
    {{/sl-tab-pane}}
{{/sl-tab-panel}}

{{#sl-tab-panel alignTabs="right" collapsible=true}}
    {{#sl-tab-pane label="Test" name="test"}}
        <p>Uncollapsed pane!</p>
    {{/sl-tab-pane}}
{{/sl-tab-panel}}

{{#sl-panel heading="Properties"}}
    <div class="list-group">
        {{#property-text name="activeTabName" type="string"}}
            Name of the initial active tab.
        {{/property-text}}

        {{#property-text name="alignTabs" type="string" default="\"left\""}}
            How to align the tabs, "left" or "right".
        {{/property-text}}

        {{#property-text name="collapsible" type="boolean" default="false"}}
            When true, an open tab can be clicked again to close it, so that all tabs and panes are un-selected. If set to false, and no <code>activeTabName</code> is given, then the first tab will be opened on initialization.
        {{/property-text}}
    </div>
{{/sl-panel}}
