<h2>sl-tooltip</h2>
<p class="lead">A simple component that surrounds content to enable Bootstrap's <a href="http://getbootstrap.com/javascript/#tooltips">tooltip</a> and <a href="http://getbootstrap.com/javascript/#popovers">popover</a> behavior.</p>

<h3>Examples</h3>

<div class="row">
    <pre class="col-sm-8">\{{#sl-tooltip title="Tooltip text!"}}Tooltip example\{{/sl-tooltip}}</pre>
    <p class="col-sm-4">{{#sl-tooltip title="Tooltip text!"}}Tooltip example{{/sl-tooltip}}</p>
</div>

<div class="row">
    <pre class="col-sm-8">\{{#sl-tooltip title="Popover title" popover="Popover content!"}}
    Popover example
\{{/sl-tooltip}}</pre>

    <p class="col-sm-4">
        {{#sl-tooltip popover="Popover content!" title="Popover title"}}
            Popover example
        {{/sl-tooltip}}
    </p>
</div>

<h3>Properties</h3>
<ul class="list-group">
    {{#property-text name="popover" type="String"}}
        Popover content text.
    {{/property-text}}

    {{#property-text name="title" type="String" required=true}}
        Tooltip content text, or popover title text when <code>popover</code> property is set.
    {{/property-text}}
</ul>
