<div class="container">
    <div class="page-header">
        <h1 id="title">
            {{#link-to "index"}}sl-components{{/link-to}}
            <small>v0.9-pre</small>
        </h1>
    </div>

    {{outlet}}
</div>
