<div class="container">
    <div class="page-header">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Components
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>{{#link-to "demos/alert"}}sl-alert{{/link-to}}</li>
                    <li>{{#link-to "demos/button"}}sl-button{{/link-to}}</li>
                    <li>{{#link-to "demos/calendar"}}sl-calendar{{/link-to}}</li>
                    <li>{{#link-to "demos/chart"}}sl-chart{{/link-to}}</li>
                    <li>{{#link-to "demos/checkbox"}}sl-checkbox{{/link-to}}</li>
                    <li>{{#link-to "demos/date-picker"}}sl-date-picker{{/link-to}}</li>
                    <li>{{#link-to "demos/date-range-picker"}}sl-date-range-picker{{/link-to}}</li>
                    <li>{{#link-to "demos/drop-button"}}sl-drop-button{{/link-to}}</li>
                    <li>{{#link-to "demos/grid"}}sl-grid{{/link-to}}</li>
                    <li>{{#link-to "demos/input"}}sl-input{{/link-to}}</li>
                    <li>{{#link-to "demos/loading-icon"}}sl-loading-icon{{/link-to}}</li>
                    <li>{{#link-to "demos/menu"}}sl-menu{{/link-to}}</li>
                    <li>{{#link-to "demos/panel"}}sl-panel{{/link-to}}</li>
                    <li>{{#link-to "demos/progress-bar"}}sl-progress-bar{{/link-to}}</li>
                    <li>{{#link-to "demos/radio-group"}}sl-radio-group{{/link-to}}</li>
                    <li>{{#link-to "demos/select"}}sl-select{{/link-to}}</li>
                    <li>{{#link-to "demos/simple-modal"}}sl-simple-modal{{/link-to}}</li>
                    <li>{{#link-to "demos/span"}}sl-span{{/link-to}}</li>
                    <li>{{#link-to "demos/tab-panel"}}sl-tab-panel{{/link-to}}</li>
                    <li>{{#link-to "demos/textarea"}}sl-textarea{{/link-to}}</li>
                    <li>{{#link-to "demos/tooltip"}}sl-tooltip{{/link-to}}</li>
                </ul>
            </li>
        </ul>
        <h1 id="title">
            {{#link-to "index"}}sl-components{{/link-to}}
            <small>v0.9-pre</small>
        </h1>
    </div>

    {{outlet}}
</div>
