<div class="list-group">
    {{#link-to "sl-alert" class="list-group-item"}}sl-alert{{/link-to}}
    {{#link-to "sl-button" class="list-group-item"}}sl-button{{/link-to}}
    {{#link-to "sl-calendar" class="list-group-item"}}sl-calendar{{/link-to}}
    {{#link-to "sl-chart" class="list-group-item"}}sl-chart{{/link-to}}
    {{#link-to "sl-checkbox" class="list-group-item"}}sl-checkbox{{/link-to}}
    {{#link-to "sl-datepicker" class="list-group-item"}}sl-datepicker{{/link-to}}
    {{#link-to "sl-dropbutton" class="list-group-item"}}sl-dropbutton{{/link-to}}
    {{#link-to "sl-grid" class="list-group-item"}}sl-grid{{/link-to}}
    {{#link-to "sl-input" class="list-group-item"}}sl-input{{/link-to}}
    {{#link-to "sl-radiogroup" class="list-group-item"}}sl-radiogroup{{/link-to}}
    {{#link-to "sl-select" class="list-group-item"}}sl-select{{/link-to}}
    {{#link-to "sl-simplemodal" class="list-group-item"}}sl-simplemodal{{/link-to}}
    {{#link-to "sl-tabpanel" class="list-group-item"}}sl-tabpanel{{/link-to}}
    {{#link-to "sl-textarea" class="list-group-item"}}sl-textarea{{/link-to}}
    {{#link-to "sl-tooltip" class="list-group-item"}}sl-tooltip{{/link-to}}
</div>