<div class="list-group">
    {{#link-to "demos/alert" class="list-group-item"}}sl-alert{{/link-to}}
    {{#link-to "demos/button" class="list-group-item"}}sl-button{{/link-to}}
    {{#link-to "demos/calendar" class="list-group-item"}}sl-calendar{{/link-to}}
    {{#link-to "demos/chart" class="list-group-item"}}sl-chart{{/link-to}}
    {{#link-to "demos/checkbox" class="list-group-item"}}sl-checkbox{{/link-to}}
    {{#link-to "demos/datepicker" class="list-group-item"}}sl-datepicker{{/link-to}}
    {{#link-to "demos/dropbutton" class="list-group-item"}}sl-dropbutton{{/link-to}}
    {{#link-to "demos/grid" class="list-group-item"}}sl-grid{{/link-to}}
    {{#link-to "demos/input" class="list-group-item"}}sl-input{{/link-to}}
    {{#link-to "demos/radiogroup" class="list-group-item"}}sl-radiogroup{{/link-to}}
    {{#link-to "demos/select" class="list-group-item"}}sl-select{{/link-to}}
    {{#link-to "demos/simplemodal" class="list-group-item"}}sl-simplemodal{{/link-to}}
    {{#link-to "demos/tabpanel" class="list-group-item"}}sl-tabpanel{{/link-to}}
    {{#link-to "demos/textarea" class="list-group-item"}}sl-textarea{{/link-to}}
    {{#link-to "demos/tooltip" class="list-group-item"}}sl-tooltip{{/link-to}}
</div>