<div class="list-group">
    {{#link-to "demos/alert" class="list-group-item"}}sl-alert{{/link-to}}
    {{#link-to "demos/button" class="list-group-item"}}sl-button{{/link-to}}
    {{#link-to "demos/calendar" class="list-group-item"}}sl-calendar{{/link-to}}
    {{#link-to "demos/chart" class="list-group-item"}}sl-chart{{/link-to}}
    {{#link-to "demos/checkbox" class="list-group-item"}}sl-checkbox{{/link-to}}
    {{#link-to "demos/date-picker" class="list-group-item"}}sl-date-picker{{/link-to}}
    {{#link-to "demos/date-range-picker" class="list-group-item"}}sl-date-range-picker{{/link-to}}
    {{#link-to "demos/drop-button" class="list-group-item"}}sl-drop-button{{/link-to}}
    {{#link-to "demos/grid" class="list-group-item"}}sl-grid{{/link-to}}
    {{#link-to "demos/input" class="list-group-item"}}sl-input{{/link-to}}
    {{#link-to "demos/loading-icon" class="list-group-item"}}sl-loading-icon{{/link-to}}
    {{#link-to "demos/menu" class="list-group-item"}}sl-menu{{/link-to}}
    {{#link-to "demos/panel" class="list-group-item"}}sl-panel{{/link-to}}
    {{#link-to "demos/progress-bar" class="list-group-item"}}sl-progress-bar{{/link-to}}
    {{#link-to "demos/radio-group" class="list-group-item"}}sl-radio-group{{/link-to}}
    {{#link-to "demos/select" class="list-group-item"}}sl-select{{/link-to}}
    {{#link-to "demos/simple-modal" class="list-group-item"}}sl-simple-modal{{/link-to}}
    {{#link-to "demos/span" class="list-group-item"}}sl-span{{/link-to}}
    {{#link-to "demos/tab-panel" class="list-group-item"}}sl-tab-panel{{/link-to}}
    {{#link-to "demos/textarea" class="list-group-item"}}sl-textarea{{/link-to}}
    {{#link-to "demos/tooltip" class="list-group-item"}}sl-tooltip{{/link-to}}
</div>
