<h2>sl-alert</h2>
<p class="lead">A message box component for short alert messages. Based on <a href="http://getbootstrap.com/javascript/#alerts">Bootstrap - Alert messages</a>.</p>

<h3>Properties</h3>
<dl>
    <dt>dismissable
        <small class="text-primary">boolean</small>
        <small class="text-success">default: false</small>
    </dt>
    <dd>Whether to add a dismiss button</dd>

    <dt>theme
        <small class="text-primary">string</small>
        <small class="text-success">default: "info"</small>
    </dt>
    <dd>Bootstrap contextual color type; "danger", "info", "primary", "warning"</dd>
</dl>

<section class="well">
    <pre>\{{#sl-alert dismissable=true theme="info"}}
    &lt;strong&gt;Info&lt;/strong&gt; alert message
\{{/sl-alert}}</pre>
    {{#sl-alert dismissable=true theme="info"}}<strong>Info</strong> alert message{{/sl-alert}}
</section>