<h2>sl-chart</h2>
<p class="lead">A wrapper component for <a href="http://www.highcharts.com">Highcharts</a>.</p>

<h3>Example</h3>
<div>
    {{#sl-button action="logOptions"}}Log options{{/sl-button}}
    {{#sl-button action="logSeries"}}Log series{{/sl-button}}
</div>
{{sl-chart options=chartOptions series=content width="100%"}}

<h3>Properties</h3>
<div class="list-group">
    <div class="list-group-item">
        <h4 class="list-group-item-title">height</h4>
        <p><span class="text-primary">string</span></p>
        <p>CSS string for the height inline style value.</p>
    </div>
    <div class="list-group-item list-group-item-warning">
        <h4 class="list-group-item-title">options <small class="text-danger">required</small></h4>
        <p><span class="text-primary">object</span></p>
        <p>An object of options passed directly to Highcharts initialization.</p>
    </div>
    <div class="list-group-item list-group-item-warning">
        <h4 class="list-group-item-title">series <small class="text-danger">required</small></h4>
        <p><span class="text-primary">array</span></p>
        <p>Array of series data to bind to the component.</p>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-title">width</h4>
        <p><span class="text-primary">string</span></p>
        <p>CSS string for the width inline style value.</p>
    </div>
</div>